<%= render(
  partial: "v1/partials/flash_message",
  locals: {
    type: flash[:type],
    message: flash[:message]
  }) if flash[:message]
%>
<div class="poll-container">
  <div class="creator">
    <img src="<%= @poll.member.get_avatar %>" class="avatar">
    <div class="name"><%= @poll.member.fullname %></div>
  </div>
  <div class="content">
    <%= render(
      partial: "v1/partials/flash_message",
      locals: {
        type: 'info',
        message: @poll.voting_info[:message]
      }) if @poll.voting_info
    %>
    <h2 class="question"><%= @poll.title %></h2>
    <% unless @poll.get_photo.blank? %>
      <img class="image" src="<%= @poll.get_photo %>">
    <% end %>
    <% if @poll.voted? %>
      <%= render(partial: "v1/partials/polls/result") %>
    <% else %>
      <%= render(partial: "v1/partials/polls/choices") %>
    <% end %>
    <div class="portals">
      <div class="app">
        <a href="<%= @poll.open_app_url %>" class="link">
          <img src="/images/logo_pollios_h.png" alt="">
        </a>
        <a href="https://itunes.apple.com/us/app/pollios/id901397748?ls=1&mt=8" class="link">
          <img src="/images/logo_app_store.png" alt="">
        </a>
      </div>
      <a class="qrcode" data-remodal-target="qr_modal">
        <img src="<%= @poll.qrcode_image_url %>" />
      </a>
    </div>
  </div>
</div>
<%= render(
    partial: "v1/partials/poll_qrcode_modal",
    locals: { qrcode_url: @poll.qrcode_image_url, poll_open_app_url: @poll.open_app_url }
  )
%>
