<div class="container">

  <div class="row" style="margin-top: 60px;">
    <div class="col-md-4">
      <div class="well">
        <a href="<%= feedback_dashboard_path %>" class="btn btn-primary btn-lg" style="width: 100%;" id="feedback" <%= 'disabled' unless @service.using_service? "Feedback" %>>
          Feedback Location
        </a>
        <div class="note">For Feedback of Location</div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="well">
        <a href="<%= company_dashboard_path %>" class="btn btn-success btn-lg" style="width: 100%;" id="internal_survey" <%= 'disabled' unless @service.using_service? "Survey" %>>
          Internal Survey
        </a>
        <div class="note">For Internal Survey</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="well">
        <a href="<%= company_dashboard_path(select_service: "public") %>" class="btn btn-info btn-lg" style="width: 100%;" id="public_survey" <%= 'disabled' unless @service.using_service? "Public" %>>
          Public Survey
        </a>
        <div class="note">For Public Survey</div>
      </div>
    </div>

  </div>

</div>