<% breadcrumb :questionnaire, @questionnaire %>

<div class="well">
  <h1>
    <strong>[<%= @branch.name %>]</strong> <%= @questionnaire.description %>
  </h1>

</div>



<!-- widget grid -->
<section id="widget-grid" class="">

  <!-- row -->
  <div class="row">
    
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
      <!-- Widget ID (each widget will need unique ID)-->
      <div class="jarviswidget jarviswidget-color-blueDark" id="wid-feedback-collection-<%= @questionnaire.id %>" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">

        <header>
          <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
          <h2>Questionnaire</h2>        
          
        </header>

        <!-- widget div-->
        <div>
          
          <!-- widget edit box -->
          <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
            <input class="form-control" type="text">  
          </div>
          <!-- end widget edit box -->
          
          <!-- widget content -->
          <div class="widget-body">
            <div class="row">
              <div class="col-md-9"><h3><b>Detail</b></h3>
                
              </div>
              
              <div class="col-md-3">
                <div class="box">
                  <%= image_tag @qr, class: "img-responsive center-block" %>
                </div>
                <%= link_to 'Link', GenerateQrcodeLink.new(@questionnaire).get_redirect_link %>
              </div>
            </div>
          </div>
          <!-- end widget content -->
          
        </div>
        <!-- end widget div -->
        
      </div>
      <!-- end widget -->

    </article>
    <!-- WIDGET END -->
    
  </div>

  <!-- end row -->

  <!-- row -->

  <div class="row">

    <!-- a blank row to get started -->
    <div class="col-sm-12">
      
    </div>
      
  </div>

  <!-- end row -->

</section>
<!-- end widget grid -->