<div class="filter-panel">
  <div class="well">
    <section id="filter">
    <h4>Filter Panel</h4>
      <br>
      <div class="filter">
        <div class="btn-group btn-group-justified">
          <a href="<%= each_branch_feedback_report_path(filter_by: 'today') %>" class="btn btn-default <%= filter_helper('today', 'default') %>">Today</a>
          <a href="<%= each_branch_feedback_report_path(filter_by: 'yesterday') %>" class="btn btn-default <%= filter_helper('yesterday') %>">Yesterday</a>
          <a href="<%= each_branch_feedback_report_path(filter_by: 'week') %>" class="btn btn-default <%= filter_helper('week') %>">This Week</a>
          <a href="<%= each_branch_feedback_report_path(filter_by: 'month') %>" class="btn btn-default <%= filter_helper('month') %>">This Month</a>
        </div>
      </div>

      <div class="filter-other">
        <form action="<%= each_branch_feedback_report_path %>" method="GET" role="form" class="smart-form">
          <div class="row">
            <label class="label col col-1">Filter Range</label>
            <section class="col col-2">
              <label class="input"> <i class="icon-append fa fa-calendar"></i>
                <input type="text" name="startdate" id="startdate" placeholder="start date" value="<%= params[:startdate] %>">
              </label>
            </section>
            <section class="col col-2">
              <label class="input"> <i class="icon-append fa fa-calendar"></i>
                <input type="text" name="finishdate" id="finishdate" placeholder="finish date" value="<%= params[:finishdate] %>">
              </label>
            </section>

            <section class="col col-2">
              <button type="submit" class="btn btn-primary btn-filter">Submit</button>
            </section>

          </div>
        </form>
      </div>          
    </section>
  </div>
</div>

<% array_list = [] %>
<% number_people_vote = 0 %>

<% @questionnaires.each do |questionnaire| %>
  <% Poll.unscoped.where("poll_series_id = ?", questionnaire.id).order("polls.order_poll asc").includes(:choices).each do |poll| %>
    <% array_list << poll.choices.collect!{|e| e.answer.to_i * e.vote.to_f }.reduce(:+).to_f %>
  <% end %>
  <% number_people_vote += questionnaire.vote_all %>

<% end %>

<div class="well">
  <h1 class="text-center"><%= @collection.title %> (<%= @branch.name %>)</h1>

  <% if @questionnaires.present? %>
    <div class="summary-questionnaire">
      <h5>Feedback count : <%= number_people_vote %></h5>
    </div>
    <br>
  <% end %>

  <div class="row">
    <table class="table table-striped table-forum">
      <thead>
        <tr>
          <th colspan="1">Question</th>
          <th class="text-center" style="width: 150px;">Average (5)</th>
          <th class="text-center" style="width: 150px;">Percent (100%)</th>
          <th class="text-center" style="width: 150px;">Rating (5)</th>
        </tr>
      </thead>
      <tbody>
        <% if @questionnaires.present? %>
          <% @collection.questions.each_with_index do |question, index| %>
            <tr>
              <td>
                <h4><a href="#">
                  <%= question.last %>
                </a>
                  <small>......</small>
                </h4>
              </td>
              <td class="text-center">
                <a href="javascript:void(0);"><%= sum_average(array_list, @collection.questions.size, number_people_vote, index) %></a>
              </td>
              <td class="text-center">
                <a href="javascript:void(0);"><%= percent_average(array_list, @collection.questions.size, number_people_vote, index) %> %</a>
              </td>
              <td class="text-center">
                <a href="javascript:void(0);">
                  <div class="rating" style="width: 100%; font-size: 10px;">
                    <input type="number" class="rating input-id" data-size="xs" data-readonly="true" data-show-clear="false" data-default-caption="{rating} Rates" data-show-caption="false" data-star-captions="{}" value="<%= sum_average(array_list, @collection.questions.size, number_people_vote, index) %>"> 
                  </div>
                </a>
              </td>
            </tr>
          <% end %>
        <% else %>
          <td colspan="<%= 4 + @collection.questions.size %>" class="text-center">There is no data to display</td>
        <% end %>

      </tbody>
    </table>

  </div>

</div>