<!--<script>
  setTimeout(function() {
    window.location = "http://192.168.1.18:3000/m/polls?key=" + '<%= @key %>';
}, 25);

  // If "custom-uri://" is registered the app will launch immediately and your
  // timer won't fire. If it's not set, you'll get an ugly "Cannot Open Page"
  // dialogue prior to the App Store application launching
  window.location = "Pollios://192.168.1.18:3000/m/polls?key=" + '<%= @key %>';
</script>-->

<!--<script>
  var redirect = function (location) {
    var iframe = document.createElement('iframe');
    iframe.setAttribute('src', location);
    iframe.setAttribute('width', '1px');
    iframe.setAttribute('height', '1px');
    iframe.setAttribute('position', 'absolute');
    iframe.setAttribute('top', '0');
    iframe.setAttribute('left', '0');
    document.documentElement.appendChild(iframe);
    iframe.parentNode.removeChild(iframe);
    iframe = null;
};

setTimeout(function () {
    console.log("make 1");
    redirect("http://192.168.1.18:3000/m/polls?key=" + '<%= @key %>');
}, 25);

redirect("Pollios://192.168.1.18:3000/m/polls?key=" + '<%= @key %>');

</script> -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pollios App Redirect</title>
</head>
<body>
<script src="/mobile/js/browser-deeplink.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var env = <%= raw Rails.env.development? %>;

  var mobile_url = "http://pollios.com/m/polls?key=" + '<%= params[:key] %>';
  var app_url = "Pollios://pollios.com/m/polls?key=" + '<%= params[:key] %>';

  if (env) {
    var mobile_url = "http://localhost:3000/m/polls?key=" + '<%= params[:key] %>';
    var app_url = "Pollios://localhost:3000/m/polls?key=" + '<%= params[:key] %>';
  };

  deeplink.setup({
    iOS: {
        storeUrl: mobile_url
      }
    });

  window.onload = function() {
    deeplink.open(app_url);
    return false;
  }
</script>
</body>
</html>