<div class="well sub-header">
  <div class="text-center">
    <h2><strong><%= @questionnaire.description %></strong></h2>
    <h3><strong>(<%= @questionnaire.get_branch %>)</strong></h3>
  </div>
</div>
<div class="row">

  <div class="col-xs-12 col-sm-12">
    <% unless @history_votes %>
      <form action="<%= mobile_vote_poll_path %>" method="POST" class="form-horizontal" role="form">
        <input type="hidden" name="id" value="<%= @questionnaire.id  %>">
        <input type="hidden" name="member_id" value="<%= current_member.id %>">

          <% @list_poll.each do |poll| %>
          <div class="well">
            <div class="poll-title">
              <%= poll.title %>
            </div>


            <div class="row row-centered">

              <% poll.choices.each_with_index do |choice, index| %>
                <div id="<%= choice.id  %>" class="<%=poll.id %> choice col-xs-2 col-centered"  onclick="ActiveBox('<%= choice.id %>', '<%=poll.id %>')">
                    <p class="text-center" style="font-size: 16px;"><%= choice.answer %></p>
                </div>
              <% end %>
            </div>

          </div>
            <input type="hidden" value="<%= poll.id %>" name="polls[]">
            <input type="hidden" val="" id="answer_<%= poll.id %>" name="choices[]">
          <% end %>

          <div class="form-group" style="padding-top: 10px;">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <!-- <button type="submit" id="submit-questionnaire" class="btn btn-primary btn-custom" data-disable-with="Loading...">SUBMIT</button> -->
                <button href="#" class="btn btn-primary btn-custom ladda-button btn-lg" id="submit-questionnaire" data-style="expand-left"><span class="ladda-label">SUBMIT</span></button>
              </div>
            </div>
          </div>
      </form>

    <% else %>
      <% if @questionnaire.campaign_id != 0 %>
        <% if @reward.luck %>
            <div class="content">
              <div class="row text-center">
                <h2><strong>Lucky</strong></h2>
                <h3><%= @reward.campaign.name %></h3>
                
                <div class="well">Serial Code : <span class="key-color"><strong><%= @reward.serial_code %></strong></span></div>

                <span class="note"><%= @reward.campaign.how_to_redeem %></span>
              </div>
            </div>
          <% else %>
            <div class="content">
              <div class="row text-center">
                <h2><strong>Unlucky</strong></h2>
              </div>
            </div>

          <% end %>
      <% else %>
        <div class="alert alert-warning alert-block">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <h4 class="alert-heading">Info!</h4>
            You already vote this questionnaire.
        </div>
      <% end %>
    <% end %>

  </div>

</div>

<script>
  var post_data;

  var id = <%= raw @questionnaire.id  %>;
  var member_id = <%= raw current_member.id %>;
  $.poll_data = [];
  $.choice_data = [];

  $(function() {
  
    $('#submit-questionnaire').click(function(e){
      post_data = { "id": id, "member_id": member_id, "polls" : set_poll_data(), "choices" : set_choice_data() };
      e.preventDefault();
      var l = Ladda.create(this);
      l.start();
      $.post("<%= mobile_vote_questionnaire_path %>", 
          post_data ,
        function(response){
          vote_success(response.msg);
          // console.log(response.msg);
        }, "json")
      .fail(function(xhr, txt, error) { fail_error(xhr.responseText.msg); })
      .always(function() { l.stop(); });
      return false;
    });
  });

  disable_submit_btn();


  function ActiveBox(id, pollId){
    $("." + pollId ).removeClass( "active" );
    $("#" + id ).addClass( "active" );
    $("#answer_" + pollId).val(id);
    check_btn_submit($('.choice.active').size());
  }

  function set_poll_data () {
    $( "input[name='polls[]']" ).each(function (i, el) {
      var elem = $( el );
      $.poll_data.push(elem.val());
    });
    return $.poll_data;
  }

  function set_choice_data () {
    $( "input[name='choices[]']" ).each(function (i, el) {
      var elem = $( el );
      $.choice_data.push(elem.val());
    });
    return $.choice_data;
  }

  function fail_error(msg) {
    swal({
      title: "Vote Fail",
      text: msg,
      type: "warning",
      showCancelButton: true,
      confirmButtonText: "Try again",
      closeOnConfirm: false
    }, function() {
      $("#submit-questionnaire").click();
    })
  }

  function vote_success(msg) {
    swal({
      title: "Vote Success",
      text: "ขอบคุณสำหรับความคิดเห็นของคุณ",
      type: "success"
    },
    function () {
      window.location = "<%= mobile_dashboard_url %>";
    })
  }

  function check_btn_submit (count_check) {
    $.poll_count = $( "input[name='polls[]']" ).size();
    $.vote_count = count_check;
    if ($.poll_count == $.vote_count) {
      active_submit_btn();
    } else{
      disable_submit_btn();
    };
  }

  function active_submit_btn() {
    $("#submit-questionnaire").prop('disabled', false);
  }

  function disable_submit_btn() {
    $("#submit-questionnaire").prop('disabled', true);
  }
</script>
