<div class="row">
  <div class="col-sm-12">
    
    <% if @poll.present? %>
      <div class="logo-creator">
        <img src="<%= @poll.member.avatar.url(:thumbnail) %>" class="center-block img-responsive img-circle" alt="Responsive image">
        <h1 class="text-center"><strong><%= @poll.member.fullname %></strong></h1>
        <p class="text-center" style="color: black; margin: 10px; margin-top: 30px;">
          Thank you for your recent stay at our hotel. During your stay you dined at out 5-star Seafood Emporium Restaurant. We'ra conducting a
          short survey to find out about your dining experience.
        </p>
      </div>
    <% else %>
      <%= image_tag('logo.png', size: '180x180',class: "center-block img-responsive img-circle") %>
      <h1 class="text-center"><strong>Pollios</strong></h1>
    <% end %>


    <br>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <!-- <a href="<%= mobile_signin_form_path %>" class="btn btn-primary btn-custom">Sign-in with Pollios Account</a> -->
        <a href="<%= mobile_signin_form_path %>" class="btn btn-custom btn-block btn-social btn-pollios" style="width: 100%;">
          <i class="fa fa-pollios"></i>
            <span class="text-social">Sign in with Pollios</span>
        </a>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <!-- <a class="btn btn-primary" href="/auth/facebook" id="sign_in" style="width: 100%" data-method="get">Sign in with Facebook</a> -->
        <a href="/auth/facebook" data-method="get" class="btn btn-block btn-social btn-facebook" style="width: 100%;">
          <i class="fa fa-facebook"></i>
            <span class="text-social">Sign in with Facebook</span>
        </a>

      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <!--<a href="<%= mobile_signup_form_path %>" class="btn btn-primary" style="width:100%">Register with Pollios Account</a>-->     
        <a href="<%= mobile_signup_form_path %>" class="btn btn-primary btn-block btn-social btn-pollios" style="width: 100%;">
          <i class="fa fa-pollios"></i>
            <span class="text-social">Register with Pollios</span>
        </a>

      </div>
    </div>

    <br>

  </div>
</div>