<div class="portlet box green">
  <div class="portlet-title">
     <div class="caption"><i class="icon-reorder"></i>Recurring</div>
     <div class="tools">
        <a href="javascript:;" class="collapse"></a>
        <a href="javascript:;" class="remove"></a>
     </div>
  </div>
  <div class="portlet-body">
    <%= simple_form_for @recurring, :html => { :multipart => true, class: "form-horizontal" } do |f| %>
      <div class="form-body">
        <div class="row">
          <div class="col-md-7 col-md-offset-2">
            <%= f.input :description, wrapper: :horizontal, as: :text %>
            <div class="form-group string optional readonly recurring_period">
              <div class="label-hz col-md-2">
                <label class="string optional control-label" for="period_timepicker">Period</label>
              </div>
              <div class="col-md-10">
                <div class="input-group input-medium bootstrap-timepicker">                                       
                  <% if action_name == "edit" %>
                     <input type="text" class="form-control timepicker-default" name="recurring[period]" data-minute-step="60" value="<%= @recurring.period.strftime('%H:%M %p') %>">
                  <% else %>
                    <input type="text" class="form-control timepicker-default" name="recurring[period]" data-minute-step="60">
                  <% end %>
                    <span class="input-group-btn">
                      <button class="btn default" type="button"><i class="icon-time"></i></button>
                    </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="label-hz col-md-2">
                <label class="string optional control-label" for="datetimepicker">End recur</label>
              </div>

              <div class="col-md-10">
                <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy">
                <% if action_name == "edit" %>
                  <input class="string optional form-control input-small" id="datetimepicker" name="recurring[end_recur]" readonly="readonly" type="text" value="<%= @recurring.end_recur.strftime('%d-%m-%Y') %>">
                <% else %>
                  <input class="string optional form-control input-small" id="datetimepicker" name="recurring[end_recur]" readonly="readonly" type="text">
                <% end %>     
                  <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                  </span>
                </div>
              </div>

            </div>
            <%= f.input :status, wrapper: :horizontal, :as => :radio_buttons %>
          </div>
        </div>
      </div>

    <div class="form-actions fluid">
      <div class="row">
         <div class="col-md-7 col-md-offset-2">
            <div class="col-md-offset-2 col-md-9">
              <button type="submit" class="btn blue"><i class="icon-ok"></i> Submit</button>
              <%= link_to 'Discard', recurrings_path, method: :get, class: 'btn default' %>                              
            </div>
         </div>
         <div class="col-md-6">
         </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

