<% breadcrumb :new_poll_public_survey_group %>

<section id="widget-grid" class="">
  <div class="row">
    <div class="col-md-12">
      <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

      <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2><strong>Form</strong></h2>

      </header>
      <!-- widget div-->
      <div>

        <!-- widget content -->
        <div class="widget-body">
          <%= simple_form_for @poll, url: web_create_poll_path, :html => { :multipart => true, class: "smart-form", id: "form-input" } do |f| %>
          <%= f.input :type_poll, as: :hidden, input_html: { value: "freeform" } %>
          <input type="hidden" name="redirect_url" id="" class="form-control" value="<%= public_survey_groups_url %>">
          <fieldset>

            <section>
              <div class="row">
                <section class="col col-9">
                  <label class="label">Poll Question</label>
                  <label class="textarea">
                    <textarea class="maxlength_textarea poll_question" id="textarea3" rows="5" name="poll[title_with_tag]" style="display: block; width: 100%;" required></textarea>
                  </label>
                  <div class="note">Use # for tagging.</div>
                  <div class="option_config">
                   <label class="toggle">
                     <input type="checkbox" name="poll[allow_comment]" checked="checked">
                   <i data-swchon-text="on" data-swchoff-text="off"></i>Allow Comment</label>

                   <label class="toggle">
                     <input type="checkbox" name="poll[qr_only]">
                   <i data-swchon-text="on" data-swchoff-text="off"></i>Qrcode Only</label>

                   <label class="toggle">
                     <input type="checkbox" name="poll[require_info]">
                   <i data-swchon-text="on" data-swchoff-text="off"></i>Require Infomation</label>

                  <label class="toggle">
                    <input type="checkbox" name="poll[draft]">
                  <i data-swchon-text="on" data-swchoff-text="off"></i>Draft</label>
                </section>

                <section class="col col-3">
                  <div class="form-group">
                    <input type="file" class="default" name="poll[photo_poll]" id="drop_photo_poll" accept="image/png, image/jpeg, image/gif"/>
                    <br>
                    <span class="note">Recommended image size by 588x588 and support file type as image/png, image/jpg and image/jpeg.</span>
                  </div>
                </section>
              </div>

              <br>
              <section>
                  <label class="label">Choose from preset</label>
                  <div class="inline-group" id="template">
                      <label class="radio">
                          <input type="radio" name="radio-inline" checked="checked" id="freeform-template">
                          <i></i>Freeform Poll</label>
<!--                       <label class="radio">
                          <input type="radio" name="radio-inline" id="yesno-template">
                          <i></i>Yes/No Poll</label> -->
                      <label class="radio">
                          <input type="radio" name="radio-inline" id="star-template">
                          <i></i>Star Rating Poll</label>
                  </div>
              </section>

            <div id="select_form_template"></div>

          </fieldset>

          <header>
            Advance Poll Config
          </header>
            <fieldset>

              <section class="branch_list">
                <label class="label">Show in group</label>
                <div id="error_not_group"></div>
                <div class="row">
                  <%= f.collection_check_boxes(:group_id, @group_list, :id, :name) do |b| %>
                    <% if params[:with_group] == b.object.id.to_s %>
                    <%= b.label(class: "label_branch col col-2") { b.check_box(class: "check_box_branch", :"data-parsley-mincheck" => "1", :"data-parsley-required" => true, checked: true) + b.text } %>
                    <% else %>
                      <%= b.label(class: "label_branch col col-2") { b.check_box(class: "check_box_branch", :"data-parsley-mincheck" => "1", :"data-parsley-required" => true) + b.text } %>
                    <% end %>
                  <% end %>
                </div>
              </section>

              <div class="row">
                <section class="col col-2">

                <label class="label">Expire within (day)</label>
                <label class="select">
                  <select name="poll[expire_date]">
                    <option value="0" selected="">Unexpired</option>
                    <% (1..30).each do |e| %>
                      <option value="<%= e %>"><%= e %></option>
                    <% end %>
                  </select> <i></i>
                </label>

                </section>


                <section class="col col-10">
                  <label class="label">Campaign</label>
                  <label class="select">
                    <%= f.select :campaign_id, current_company.campaigns.without_system.all.map {|r| [r.name, r.id ] }, { include_blank: true },  { class: 'select2', placeholder: "Select a campaign"} %>
                  </label>
                </section>
              </div>
            </fieldset>

          <footer>
            <%= button_tag "Submit", class: "btn btn-primary", id: "submit-new-group-poll" ,data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..." } %>
          </footer>
            <% end %>

        </div>
        <!-- end widget content -->

      </div>
      <!-- end widget div -->
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $("#form-input").parsley();
</script>

<script type="text/javascript">
  $('#select_form_template').html('<%= j render "web_panel/polls/freeform" %>');

  $('#template').on('click', function () {
    if ($('#freeform-template').is(':checked')) {
      $('#select_form_template').html('<%= j render "web_panel/polls/freeform" %>');
    } else if ($('#yesno-template').is(':checked')) {
      $('#select_form_template').html('<%= j render "web_panel/polls/yesno" %>');
    } else {
      $('#select_form_template').html('<%= j render "web_panel/polls/rating" %>');
    };
  });
</script>

<script type="text/javascript">
$( document ).ready(function() {
  $.list_groups = <%= raw @group_list.size %>;

  if ($.list_groups == 0) {
    $("#error_not_group").html('<div class="alert alert-warning"><p style="font-size: 14px;">List groups no longer, Please create group before <%= link_to 'New Group', new_public_survey_group_path %></p></div>');
    $("#submit-new-group-poll").prop("disabled", true);
  }

  $("#group_list").select2({
      width: "100%",
      multiple: true,
      placeholder: "Select a group",
      query: function (query){
        var data = {results: []};

          $.each(<%= raw ActiveModel::ArraySerializer.new(@group_list, each_serializer: GroupListSerializer).to_json %>, function(){
              if(query.term.length == 0 || this.text.toUpperCase().indexOf(query.term.toUpperCase()) >= 0 ){
                  data.results.push({id: this.id, text: this.text });
              }
          });

          query.callback(data);
      }
  });
  $('#group_list').select2('data', <%= raw ActiveModel::ArraySerializer.new(@group_list, each_serializer: GroupListSerializer).to_json %> );

  // $(".add-field").click(function (event) {
  //    window.setTimeout(function(){
  //      $('input[name^=choices]').last().focus();
  //    }, 200);
  // });

  window.setTimeout(function () {
    $(".poll_question").focus();
  }, 0);
});
</script>


<style type="text/css">
.ezdz-dropzone {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  font: bold 24px arial;
  line-height: 200px;
  color: lightgray;
  text-align: center;
  border: 5px solid lightgray;
  border-radius: 20px;
}
</style>
