<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pollios</title>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="apple-itunes-app" content="app-id=901397748">
  <meta name="google-site-verification" content="I2xo0fFPaR3DKiQhcqD5MnlpSUUKDnEQMksDzYVTJnM" />

  <meta property="og:title" content="<%= @poll.title %>" />
  <meta property="og:description" content="<%= @poll.member.fullname %>" />
  <meta property="og:image" content="<%= @qrcode %>" />

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" type="text/css" href="/css/app.css" data-turbolinks-track="true">
  <%= csrf_meta_tag %>
</head>
<body>
  <nav class="navbar-container">
    <a href="/" class="logo">
      <img src="http://pollios.com/assets/pollios_webLogo@2x-2bb08c5287b8429c2b2c5a3bc4a5d433.png">
    </a>
  </nav>
  <div class="app-container">
    <%= yield %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>