<div class="well"> 
  <%= simple_form_for @campaign, url: update_feedback_campaign_path, method: :put, :html => { :multipart => true, 'data-parsley-validate' => true } do |f| %>
    <%= f.input :member_id, as: :hidden, input_html: { value: current_member.id } %>
    <h2><strong>Campaign detail</strong></h2>
    <div class="row">
      <div class="col col-md-8">
        <%= f.input :name, input_html: { :"data-parsley-required" => "true" } %>
        <%= f.input :description, input_html: { :"data-parsley-required" => "true" } %>
        <%= f.input :how_to_redeem, input_html: { :"data-parsley-required" => "true" } %>
      </div>
      <div class="col col-md-4">
        <%= f.input :photo_campaign %>
      </div>
    </div>

    <h2><strong>Advance campaign config</strong></h2>

    <div class="well">
      <%= f.input :type_campaign, as: :radio_buttons %>

      <div class="row">
        <div class="col-md-2">
          <%= f.input :begin_sample %>
        </div>
        <div class="col-md-2">
          <%= f.input :end_sample,  input_html: { value: 1 } %>
        </div>
      </div>

    </div>

    <% if @company.company_admin %>
    <%= f.input :redeem_myself %>
    <% end %>
    <%= f.input :limit, input_html: { :"data-parsley-required" => "true", :"data-parsley-type" => "integer" } %>
    <%= f.input :expire, as: :string, input_html: { class: 'datepicker', 'data-dateformat' => 'dd/mm/yy', :"data-parsley-required" => "true" } %>

    
    <div class="row">

      <div class="col col-md-offset-5 col-md-2">
        <%= f.submit "Create", class: 'btn btn-primary btn-lg btn-fullwidth', "data-disable-with" => "Loading..." %>
      </div>

    </div>

  <% end %>
</div>

<script>
  $.input_begin_sample = $("input#campaign_begin_sample");
  $.input_end_sample = $("input#campaign_end_sample");

  $.radio_random_immediately = $("#campaign_type_campaign_random_immediately");
  $.radio_random_later = $("#campaign_type_campaign_random_later");

  $.radio_random_later.click(function () {
    $.input_begin_sample.attr("disabled", true);
    $.input_end_sample.attr("disabled", true);
  });

  $.radio_random_immediately.click(function () {
    $.input_begin_sample.attr("disabled", false);
    $.input_end_sample.attr("disabled", false);
  });
</script>