<ul>
  <li class="<%= is_active?('home') %>">
    <a href="/dashboard" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
  </li>

  <li class="<%= is_active?('polls') %>">
    <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Polls</span></a>
      <ul>
        <li class="<%= is_active_3rd_level('polls', action_name) %>">
          <a href="#"><i class="fa fa-fw fa-folder-open"></i> Creating a Poll</a>
          <ul>
            <li class="<%= is_active_2nd_level('polls', 'binary') %>">
              <a href="/build_poll/binary"><i class="fa fa-fw fa-edit"></i> Yes/No</a>
            </li>
            <li class="<%= is_active_2nd_level('polls', 'rating') %>">
              <a href="/build_poll/rating"><i class="fa fa-fw fa-star"></i> Star Rating</a>
            </li>
            <li class="<%= is_active_2nd_level('polls', 'freeform') %>">
              <a href="/build_poll/freeform"><i class="fa fa-fw fa-th-list"></i> Simple</a>
            </li>
          </ul>
        </li>

      <li class="<%= is_active_2nd_level('companies', 'list_polls') || is_active_2nd_level('companies', 'poll_detail') %>">
        <a href="<%= company_polls_url %>"> List Polls</a>
      </li>

    </ul>
  </li>

  <li class="<%= is_active?('poll_series') %>">
    <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Questionnaire</span></a>
      <ul>
        <li class="<%= is_active_3rd_level('poll_series', action_name) %>">
          <a href="#"><i class="fa fa-fw fa-folder-open"></i> Create</a>
          <ul>
            <li class="<%= is_active_2nd_level('poll_series', 'normal') %>">
              <a href="<%= normal_questionnaire_path %>"><i class="fa fa-fw fa-file-text"></i> Normal</a>
            </li>
            <li class="<%= is_active_2nd_level('poll_series', 'same_choice') %>">
              <a href="<%= same_choice_questionnaire_path %>"><i class="fa fa-fw fa-file-text"></i> Same Choice</a>
            </li>
          </ul>
        </li>

      <li class="<%= is_active_2nd_level('poll_series', 'index') %>">
        <a href="<%= poll_series_index_path %>"> List Questionnaire</a>
      </li>

    </ul>
  </li>
  
    <li class="<%= is_active_2nd_level('companies', 'company_members') || is_active_2nd_level('companies', 'add_member') %>">
      <a href="<%= company_members_path %>" title="Member"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Members</span></a>
    </li>

    <li class="<%= is_active_2nd_level('companies', 'company_groups') || is_active_2nd_level('companies', 'new_group') %>">
      <a href="<%= company_groups_path %>" title="Group"><i class="fa fa-lg fa-fw fa-building-o"></i> <span class="menu-item-parent">Group</span></a>
    </li>

    <li class="<%= is_active?('campaigns') %>">
      <a href="/campaigns"><i class="fa fa-lg fa-fw fa-gift"></i> <span class="menu-item-parent">Campaign</span></a>
    </li>

    <li class="<%= is_active_2nd_level('companies', 'invites') || is_active_2nd_level('companies', 'via_email') %>">
      <a href="<%= company_invites_path %>" title="Invite"><i class="fa fa-lg fa-fw fa-info"></i> <span class="menu-item-parent">Invites</span></a>
    </li>

  <li class="<%= is_active?('members') %>">
    <a href="/profile"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">Setting</span></a>
  </li>
</ul>