<ul>
  <li class="<%= is_active_2nd_level('feedback', 'dashboard') %>">
    <a href="<%= feedback_dashboard_path %>" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
  </li>

  <li class="<%= is_active_2nd_level('feedback', 'polls') %>">
    <a href="<%= feedback_polls_path %>" title="Poll"><i class="fa fa-lg fa-fw fa-edit"></i> <span class="menu-item-parent"> List Polls</span></a>
  </li>

  <li class="<%= is_active?('branches') %>">
    <a href="<%= branches_path %>" title="Branch"><i class="fa fa-lg fa-fw fa-share-alt"></i> <span class="menu-item-parent">Branch</span></a>
  </li>
</ul>