<ul>
  <li class="<%= is_active_2nd_level('feedback', 'dashboard') %>">
    <a href="<%= feedback_dashboard_path %>" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
  </li>
  <li>
    <a href="#"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">Management</span></a>
    <ul>
<!--       <li class="<%= is_active_2nd_level('feedback_poll', 'index') %>">
        <a href="<%= feedback_polls_path %>" title="Poll"><i class="fa fa-lg fa-fw fa-edit"></i> <span class="menu-item-parent">Polls</span></a>
      </li> -->

      <li class="<%= is_active_2nd_level('feedback_questionnaire', 'index') || is_active_2nd_level('branches', 'detail') || is_active_2nd_level('feedback_questionnaire', 'new') || is_active_2nd_level('feedback_questionnaire', 'collection') || is_active_2nd_level('feedback_questionnaire', 'qrcode') %>">
        <a href="<%= feedback_questionnaires_path %>" title="Poll"><i class="fa fa-lg fa-fw fa-edit"></i> <span class="menu-item-parent"> Questionnaires</span></a>
      </li>

      <li class="<%= is_active_2nd_level('branches', 'index') || is_active_2nd_level('branches', 'new') || is_active_2nd_level('branches', 'edit')   %>">
        <a href="<%= branches_path %>" title="Branch"><i class="fa fa-lg fa-fw fa-share-alt"></i> <span class="menu-item-parent">Branch</span></a>
      </li>
    </ul>
  </li>

  <li>
    <a href="#"><i class="fa fa-lg fa-fw fa-folder-open"></i> <span class="menu-item-parent">Reports</span></a>
    <ul>
<!--       <li class="<%= is_active_2nd_level('feedback_reports', 'polls') || is_active_2nd_level('feedback_poll', 'reports') %>">
        <a href="<%= all_poll_report_path %>" title="Poll"><i class="fa fa-lg fa-fw fa-edit"></i> <span class="menu-item-parent">Polls</span></a>
      </li> -->

      <li class="<%= is_active_2nd_level('feedback_reports', 'collection') || is_active_2nd_level('feedback_questionnaire', 'reports') || is_active_2nd_level('feedback_reports', 'each_branch')    %>">
        <a href="<%= all_feedback_report_path %>" title="Poll"><i class="fa fa-lg fa-fw fa-edit"></i> <span class="menu-item-parent"> Questionnaires</span></a>
      </li>
    </ul>
  </li>

</ul>