<ul>
  <li class="<%= is_active_2nd_level('mobiles', 'dashboard') %>">
    <a href="<%= mobile_dashboard_path %>" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
  </li>

  <li class="<%= is_active_2nd_level('mobiles', 'recent_view') %>">
    <a href="<%= mobile_recent_view_path %>" title="Recent View"><i class="fa fa-lg fa-fw fa-clock-o"></i> <span class="menu-item-parent">Recent View</span></a>
  </li>

  <li>
    <a href="<%= mobile_signout_path %>" title="Sign Out" data-method="delete"><i class="fa fa-lg fa-fw fa-sign-out"></i> <span class="menu-item-parent">Sign Out</span></a>
  </li>

</ul>