<ul>
  <li class="<%= is_active_2nd_level('feedback', 'dashboard') %>">
    <a href="<%= feedback_dashboard_path %>" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
  </li>

  <li class="<%= is_active?('feedback_poll') %>">
    <a href="<%= feedback_polls_path %>" title="Poll"><i class="fa fa-lg fa-fw fa-edit"></i> <span class="menu-item-parent">Polls</span></a>
  </li>

  <li class="<%= is_active?('feedback_questionnaire') || is_active_2nd_level('branches', 'detail')  %>">
    <a href="<%= feedback_questionnaires_path %>" title="Poll"><i class="fa fa-lg fa-fw fa-edit"></i> <span class="menu-item-parent"> Questionnaires</span></a>
  </li>

  <li class="<%= is_active_2nd_level('branches', 'index') || is_active_2nd_level('branches', 'new') || is_active_2nd_level('branches', 'edit')   %>">
    <a href="<%= branches_path %>" title="Branch"><i class="fa fa-lg fa-fw fa-share-alt"></i> <span class="menu-item-parent">Branch</span></a>
  </li>
</ul>