<ul>
  <% if signed_in? %>
  <li class="<%= is_active_2nd_level('companies', 'dashboard') %>">
    <a href="<%= company_dashboard_path %>" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
  </li>
  <% end %>

  <% if signed_in? %>
  <li>
  <a href="#"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">Management</span></a>
    <ul>

      <li class="<%= is_active?('polls') %>">
        <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Polls</span></a>
          <ul>
          <li class="<%= is_active_2nd_level('companies', 'list_polls') || is_active_2nd_level('companies', 'poll_detail') || is_active_2nd_level('polls', 'create_new_poll') || is_active_2nd_level('companies', 'edit_poll') || is_active_2nd_level('polls', 'create_new_public_poll') || is_active_2nd_level('campaigns', 'poll_with_campaign') %>">
            <a href="<%= company_polls_url %>"> List Polls</a>
          </li>

        </ul>
      </li>

      <li class="<%= is_active?('poll_series') %>">
        <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Questionnaires</span></a>
          <ul>
          <li class="<%= is_active_2nd_level('companies', 'list_questionnaires') || is_active_2nd_level('poll_series', 'same_choice') || is_active_2nd_level('companies', 'questionnaire_detail') || is_active_2nd_level('poll_series', 'normal') || is_active_2nd_level('poll_series', 'public_questionnaire') || is_active_2nd_level('poll_series', 'edit') || is_active_2nd_level('poll_series', 'questionnaire_detail') %>">
            <a href="<%= company_questionnaires_path %>"> List Questionnaires</a>
          </li>

        </ul>
      </li>

      <% if signed_in? && current_company.using_internal? %>
        <li class="<%= is_active_2nd_level('companies', 'company_members') || is_active_2nd_level('companies', 'add_member') || is_active_2nd_level('companies', 'member_detail') || is_active_2nd_level('companies', 'new_member') || is_active_2nd_level('companies', 'search_member') || is_active_2nd_level('companies', 'new_add_surveyor') %>">
          <a href="<%= company_members_path %>" title="Member"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Members</span></a>
        </li>
      <% end %>

      <li class="<%= is_active_2nd_level('companies', 'company_groups') || is_active_2nd_level('companies', 'new_group') || is_active_2nd_level('companies', 'list_members_in_group') || is_active_2nd_level('companies', 'group_detail') || is_active_2nd_level('companies', 'edit_group') || is_active_2nd_level('companies', 'group_poll_detail') %>">
        <a href="<%= company_groups_path %>" title="Group"><i class="fa fa-lg fa-fw fa-building-o"></i> <span class="menu-item-parent">Groups</span></a>
      </li>

      <li class="<%= is_active_2nd_level('company_campaigns', 'index') || is_active_2nd_level('company_campaigns', 'edit') || is_active_2nd_level('campaigns', 'show') ||is_active_2nd_level('company_campaigns', 'new') %>">
        <a href="<%= company_campaigns_path %>"><i class="fa fa-lg fa-fw fa-gift"></i> <span class="menu-item-parent">Campaigns</span></a>
      </li>

      <% if signed_in? && current_company.using_internal? %>
      <li class="<%= is_active_2nd_level('companies', 'invites') || is_active_2nd_level('companies', 'via_email') %>">
        <a href="<%= company_invites_path %>" title="Invite"><i class="fa fa-lg fa-fw fa-info"></i> <span class="menu-item-parent">Invites</span></a>
      </li>
      <% end %>
    </ul>
  </li>
  <% end %>

  <% if signed_in? %>
  <li>
    <a href="#"><i class="fa fa-lg fa-fw fa-folder-open"></i> <span class="menu-item-parent">Flags</span></a>
    <ul>
      <li class="<%= is_active_2nd_level('companies', 'poll_flags') %>">
        <a href="<%= company_poll_flags_path %>" title="Flags"><i class="fa fa-lg fa-fw fa-lock"></i> <span class="menu-item-parent">Polls</span></a>
      </li>
    </ul>
  </li>
  <% end %>

  <% if signed_in? %>
  <li class="<%= is_active_2nd_level('companies', 'setting') %>">
    <a href="<%= company_setting_path %>"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">Setting</span></a>
  </li>
  <% end %>

</ul>
