<div class="well">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
      <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>&gt; My Dashboard</span></h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
      <ul id="sparks" class="">
        <li class="sparks-info">
          <h5>Poll<span class="txt-color-blue"><i class="fa fa-edit"></i> <%= @current_member.cached_my_poll.count %></span></h5>
        </li>
        <li class="sparks-info">
          <h5>Questionnaire<span class="txt-color-green"><i class="fa fa-edit"></i> <%= @current_member.cached_my_questionnaire.count %></span></h5>
        </li>
        <li class="sparks-info">
          <h5>Vote<span class="txt-color-red"><i class="fa fa-edit"></i> <%= @current_member.cached_my_voted.count %></span></h5>
        </li>
        <li class="sparks-info">
          <h5>Follower<span class="txt-color-purple"><i class="fa fa-user"></i> <%= @current_member.cached_get_follower.count %></span></h5>
        </li>
      </ul>
    </div>
  </div>
</div>

<section id="widget-grid" class="">

<div class="row">
  <article class="col-md-6">
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-poll-latest" 
                data-widget-load="<%= poll_latest_url %>" 
                data-widget-colorbutton="false" 
                data-widget-colorbutton="false" 
                data-widget-editbutton="false" 
                data-widget-deletebutton="false"
                data-widget-togglebutton="false">
      <header>
        <h2><strong>Poll</strong> <i>latest</i></h2> 
          <div class="widget-toolbar">
            <% if Poll.where(member_id: @current_member.id).present? %>
              <a href="/polls/<%= Poll.where(member_id: @current_member.id).first.id %>" class="btn btn-default" data-method="get">More</a>
            <% end %>

          </div>
      </header>


      <!-- widget div-->
      <div>
        
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
          <!-- This area used as dropdown edit box -->
          
        </div>
        <!-- end widget edit box -->
        
        <!-- widget content -->
        <div class="widget-body">

          <!-- widget body text-->
          
            <p>This content will be replaced via ajax loader...</p>
          
          <!-- end widget body text-->
          
        </div>
        <!-- end widget content -->
        
      </div>
      <!-- end widget div -->
      
    </div>
  </article>

  <article class="col-md-6">
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-poll-populars" 
                data-widget-load="<%= poll_popular_url %>" 
                data-widget-colorbutton="false" 
                data-widget-colorbutton="false" 
                data-widget-editbutton="false" 
                data-widget-deletebutton="false"
                data-widget-custombutton="false">
      <header>
        <h2><strong>Poll</strong> <i>popular random</i></h2> 

      </header>

      <!-- widget div-->
      <div>
        
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
          <!-- This area used as dropdown edit box -->
          
        </div>
        <!-- end widget edit box -->
        
        <!-- widget content -->
        <div class="widget-body">

          <!-- widget body text-->
          
            <p>This content will be replaced via ajax loader...</p>
          
          <!-- end widget body text-->
          
        </div>
        <!-- end widget content -->
        
      </div>
      <!-- end widget div -->
      
    </div>
  </article>

</div>


<div class="row">
  <article class="col-md-6">
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-poll-latest-tables" 
                data-widget-colorbutton="false" 
                data-widget-colorbutton="false" 
                data-widget-editbutton="false" 
                data-widget-deletebutton="false" 
                data-widget-fullscreenbutton="false" 
                data-widget-custombutton="false">
      <header>
        <h2><strong>Poll</strong> <i>latest 1-5</i></h2> 
          <div class="widget-toolbar">
            <a href="/polls" class="btn btn-default">More</a>
          </div>
      </header>

      <!-- widget div-->
      <div>
        
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
          <!-- This area used as dropdown edit box -->
          
        </div>
        <!-- end widget edit box -->
        
        <!-- widget content -->
          <div class="widget-body no-padding" style="min-height: 0px;">
            <div class="table-responsive">

              <table class="table" style="margin-bottom: 0px;">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Vote All</th>
                    <th>View All</th>
                    <th>Created at</th>
                  </tr>
                </thead>
                <tbody>
                  <% @poll_latest_list.each do |poll| %>
                  <tr>
                    <td><%= link_to poll.id, poll_path(poll.id), method: :get %></td>
                    <td><%= poll.title %></td>
                    <td><%= poll.vote_all %></td>
                    <td><%= poll.view_all %></td>
                    <td><span data-livestamp="<%= poll.created_at.to_i %>"></span></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              
            </div>
          </div>
        <!-- end widget content -->
        
      </div>
      <!-- end widget div -->
      
    </div>
  </article>

  <article class="col-md-6">
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-poll-popular-tables" 
                data-widget-colorbutton="false" 
                data-widget-colorbutton="false" 
                data-widget-editbutton="false" 
                data-widget-deletebutton="false" 
                data-widget-fullscreenbutton="false" 
                data-widget-custombutton="false">
      <header>
        <h2><strong>Poll</strong> <i>popular 1-5</i></h2> 
        <div class="widget-toolbar">
          <a href="/polls" class="btn btn-default">More</a>
        </div>
      </header>

      <!-- widget div-->
      <div>
        
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
          <!-- This area used as dropdown edit box -->
          
        </div>
        <!-- end widget edit box -->
        
          <div class="widget-body no-padding" style="min-height: 0px;">
            <div class="table-responsive">

              <table class="table" style="margin-bottom: 0px;">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Vote All</th>
                    <th>View All</th>
                    <th>Created at</th>
                  </tr>
                </thead>
                <tbody>
                  <% @poll_popular_list.each do |poll| %>
                  <tr>
                    <td><%= link_to poll.id, poll_path(poll.id), method: :get %></td>
                    <td><%= poll.title %></td>
                    <td><%= poll.vote_all %></td>
                    <td><%= poll.view_all %></td>
                    <td><span data-livestamp="<%= poll.created_at.to_i %>"></span></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              
            </div>
          </div>
        
      </div>
      <!-- end widget div -->
      
    </div>
  </article>

</div>

<div class="row">
  <article class="col-md-12">
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-questionnaire-lastest" 
                data-widget-colorbutton="false" 
                data-widget-colorbutton="false" 
                data-widget-editbutton="false" 
                data-widget-deletebutton="false" 
                data-widget-fullscreenbutton="false" 
                data-widget-custombutton="false">
      <header>
        <h2><strong>Questionnaire</strong> <i>latest</i></h2> 
          <div class="widget-toolbar">
          </div>
      </header>

      <!-- widget div-->
      <div>
        
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
          <!-- This area used as dropdown edit box -->
          
        </div>
        <!-- end widget edit box -->
        
        <!-- widget content -->
          <div class="widget-body" style="min-height: 0px;">

            <div class="table-responsive">
              <% if @questionnaire.present? %>
              <h2><%= @questionnaire.description %></h2>
              <table class="table" style="margin-bottom: 0px;">
                <thead>
                  <tr>
                    <th width="500">#</th>
                    <th>5</th>
                    <th>4</th>
                    <th>3</th>
                    <th>2</th>
                    <th>1</th>
                  </tr>
                </thead>
                <tbody>
                  <% @questionnaire.polls.each do |poll| %>
                  <% @temp_poll = Poll.cached_find(poll.id).cached_choices.sort {|x,y| y.answer.to_i <=> x.answer.to_i}.collect{|e| e.vote } %>
                  <tr>
                    <td><%= poll.title %></td>
                    <td><%= @temp_poll[0] %></td>
                    <td><%= @temp_poll[1] %></td>
                    <td><%= @temp_poll[2] %></td>
                    <td><%= @temp_poll[3] %></td>
                    <td><%= @temp_poll[4] %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <% else %>
                <h3 class="alert alert-warning">Don't have questionnaire.</h3>
              <% end %>
              
            </div>

          </div>
        <!-- end widget content -->
        
      </div>
      <!-- end widget div -->
      
    </div>
  </article>
</div>

</section>