<% breadcrumb :new_poll, @poll %>
<% breadcrumb :binary_poll %>

<div class="portlet box red">
  <div class="portlet-title">
    <div class="caption"><i class="icon-reorder"></i>Poll</div>
    <div class="tools">
      <a href="javascript:;" class="collapse"></a>
      <a href="javascript:;" class="remove"></a>
    </div>
  </div>

  <div class="portlet-body form">
    <%= simple_form_for @poll, :html => { :multipart => true, class: "form-horizontal" } do |f| %>
      <div class="form-body">
        <h3 class="form-section">Binary Poll</h3>
          <div class="row">
            <div class="col-md-7">
              <%= f.input :type_poll, as: :hidden, input_html: { value: "binary" } %>
              <%= f.input :title, wrapper: :horizontal, label: "Question" %>
              <%= f.input :choice_one, wrapper: :horizontal, label: "Choice 1" %>
              <%= f.input :choice_two, wrapper: :horizontal, label: "Choice 2" %>
              <%= f.input :choice_three, wrapper: :horizontal, label: "Choice 3", input_html: { value: "No vote", :disabled => true} %>
            </div>

            <div class="col-md-5">
              <%= f.input :tag_tokens,wrapper: :horizontal ,:label => "Tag", :input_html => {:class => "tag_token", :id => "tag_lists" } %>
              <div class="form-group">
                <label class="control-label col-md-2">Campaign</label>
                <div class="col-md-10">
                  <%= f.select :campaign_id, current_member.campaigns_available.map! {|r| [r.name, r.id ] }, { include_blank: true },  { class: 'select2me_campaign', placeholder: "Select a campaign"} %>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-2">Recurring</label>
                <div class="col-md-10">
                  <%= f.select :recurring_id, list_recurring.map! { |r| [ r.description + " รันทุกๆ  " + r.period.strftime("%H:%M") + " น.", r.id.to_i]}, { include_blank: true },  { class: 'select2me_campaign', placeholder: "Select a recurring"} %>
                </div>
              </div>
              <%= f.input :expire_date, collection: 1..10,  wrapper: :horizontal, label: "Expire with in", include_blank: false %>
            </div>

          </div>
      </div>

      <div class="form-actions fluid">
        <div class="row">
           <div class="col-md-7">
              <div class="col-md-offset-2 col-md-9">
                 <button type="submit" class="btn blue"><i class="icon-ok"></i> Submit</button>
                 <%= link_to 'Discard', polls_path, method: :get, class: 'btn default' %>                              
              </div>
           </div>
           <div class="col-md-6">
           </div>
        </div>
       </div>

      <% end %>
  </div>

</div>



<script type="text/javascript">
  $('.tag_token').select2('data', <%= raw @poll_tags.to_json %>);
</script>
