<%= image_tag @poll.member.get_avatar %><%= @poll.member.fullname %>
<H2><%= @poll.title %></H2>

<%= image_tag @qrcode %>
<br>
<%= link_to 'APP', "#{@poll_link}" %><%= "| #{@poll_link}" %>
<br>
<%= link_to 'DOWNLOAD', "#{@download_link}" %><%= "| #{@download_link}" %>
<br>
<%= "#{@custom_url}" %>