<link href='https://fonts.googleapis.com/css?family=Kanit:400,300,500,600,200' rel='stylesheet' type='text/css'>
<style>
  .choice-list > .choice {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    display: block;
    padding: 16px 20px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    color: #444444;
    margin-bottom: 10px;
    transition: all .4s ease-in-out;
  }

  .choice-list > .choice:hover {
    box-shadow: 0px 3px 16px rgba(0,0,0,0.3);
    text-decoration: none;
    transform: translateY(-2px);
  }
</style>
<div class="container">
  <div style="margin: 5px">
    <%= image_tag @poll.member.get_avatar, size: "40x40", class: "img-circle" %>
    <b><%= @poll.member.fullname %></b>
  </div>

  <h1 class="text-center" style="font-size: 32px; margin-bottom: 45px; font-family: 'Kanit'; font-weight: 400; letter-spacing: 1px;"><%= @poll.title %></h1>
  <div class="row" style="margin-bottom: 45px;">
    <% unless @poll.get_photo.blank? %>
      <div class="col-md-12" style="margin-bottom: 45px;">
        <%= image_tag @poll.get_photo, size: "400x400", class: "img-responsive center-block" %>
      </div>
    <% end %>
    <div class="col-md-6 col-md-offset-3 choice-list">
      <% @poll.choices.each do |choice| %>
        <a href="#" data-toggle="modal" data-target="#myModal" class="choice"><%= choice.answer %></a>
      <% end %>
    </div>
  </div>

<div style="padding-bottom: 5px;">
  <div class="pull-left">
    <a style="display: block; margin-bottom: 15px;" href="<%= @poll_link %>">
      <img src="/assets/pollios_webLogo@2x.png", style="background-color:#d32053;width:125px;height:47px;border:0;border-radius:6px;">
    </a>
    <a style="display: block;" href="<%= @download_lrink %>">
      <img src="/images/app-store.png", style="width:125px;height:47px;border:0">
    </a>
  </div>
</div>


  <!-- <div id="pollios_qrcode" >
    <p style="float: right; margin: -25px 5px 0px 0px;">
      <%= image_tag @qrcode %>
      <img src="/qrcode/pollios_for_qrcode.png" class="img-responsive center-block" width="104" height="104" style="opacity: 0.3; margin: -112px 0px 0px 8px;">
    </p>
  </div> -->

  <canvas id="canvas" width="120" height="120" style="float: right; margin: -25px 5px 0px 0px;"></canvas>

  <script>
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    var qr = loadImage("<%= @qrcode %>", main);
    var modal = document.getElementById("qrmodal");
    var logo = loadImage("/qrcode/pollios_for_qrcode.png", main);

    var imagesLoaded = 0;
    function main() {
      imagesLoaded += 1;

      if (imagesLoaded == 2) {
        ctx.drawImage(qr, 0, 0);
        ctx.globalAlpha = 0.3;
        ctx.drawImage(logo, 8, 8, 104, 104);
      }

      var img = canvas.toDataURL("image/png");
      $('#qrmodal').attr('src', img);
    }
    function loadImage(src, onload) {

      var img = new Image();

      img.onload = onload;
      img.src = src;
      return img;
    }
  </script>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="row">
          <h1 class="text-center" style="font-weight: 400; color: #777777;">VOTE NOW ON <span style="color: #d32053; font-weight: bold">POLLIOS</span> USING THIS QR CODE</h1>
          <div class="col-md-8 col-md-offset-2">
            <img id="qrmodal" src="" style="display: block; width: 100%; margin: 0 auto;">
          </div>
          <br>
          <div class="text-center" style="margin-top: 15px;">
            <a style="display: inline-block; margin-bottom: 15px;" href="<%= @poll_link %>">
              <img src="/assets/pollios_webLogo@2x.png", style="background-color:#d32053;width:125px;height:47px;border:0;border-radius:6px;">
            </a>
            <a style="display: inline-block;" href="<%= @download_lrink %>">
              <img src="/images/app-store.png", style="width:125px;height:47px;border:0">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>