<% breadcrumb :new_poll, @poll %>
<% breadcrumb :freeform_poll %>

<div class="portlet box red">
  <div class="portlet-title">
    <div class="caption"><i class="icon-reorder"></i>Poll</div>
    <div class="tools">
      <a href="javascript:;" class="collapse"></a>
      <a href="javascript:;" class="remove"></a>
    </div>
  </div>

  <div class="portlet-body form">
    <%= simple_form_for @poll, :html => { :multipart => true, class: "form-horizontal" } do |f| %>
      <div class="form-body">
        <h3 class="form-section">Freeform Poll</h3>
          <div class="row">
            <div class="col-md-7">
              <%= f.input :type_poll, as: :hidden, input_html: { value: "freeform" } %>
              <%= f.input :title, wrapper: :horizontal, label: "Question", input_html: { data: { 'validetta' => 'required,minLength[5]' } } %>
              <%= f.input :choice_one, wrapper: :horizontal, label: "Choice", input_html: { data: { 'validetta' => 'required' } } %>
              

              <div class="multi-field-wrapper">
                  <div class="multi-fields">
                    <div class="multi-field">
                      <div class="form-group string optional">
                        <div class="label-hz col-md-2"><label class="string optional control-label">Choice</label></div>
                        <div class="col-md-10">
                          <input type="text" name="choices[]" class="string optional form-control form-choice-list" data-validetta="required">
                        </div>
                      </div>
                      
                      <button type="button" class="remove-field btn btn-default">Remove</button>

                    </div>
                  </div>
                <div class="col-md-10 col-md-offset-2">
                <button type="button" class="add-field btn btn-sm btn-default">More choice</button>
                </div>
              </div>

            </div>

            <div class="col-md-5">
              <%= f.input :tag_tokens,wrapper: :horizontal ,:label => "Tag", :input_html => {:class => "tag_token", :id => "tag_lists" } %>
              <div class="form-group">
                <label class="control-label col-md-2">Campaign</label>
                <div class="col-md-10">
                  <%= f.select :campaign_id, current_member.campaigns_available.map! {|r| [r.name, r.id ] }, { include_blank: true },  { class: 'select2me_campaign', placeholder: "Select a campaign"} %>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-2">Recurring</label>
                <div class="col-md-10">
                  <%= f.select :recurring_id, list_recurring.map! { |r| [ r.description + " รันทุกๆ  " + r.period.strftime("%H:%M") + " น.", r.id.to_i]}, { include_blank: true },  { class: 'select2me_campaign', placeholder: "Select a recurring"} %>
                </div>
              </div>
              <%= f.input :expire_date, collection: 1..10,  wrapper: :horizontal, label: "Expire", include_blank: false, input_html: { class: 'input-xsmall'} %>
            </div>

          </div>
      </div>

      <div class="form-actions fluid">
        <div class="row">
           <div class="col-md-7">
              <div class="col-md-offset-2 col-md-9">
                 <button type="submit" class="btn blue"><i class="icon-ok"></i> Submit</button>
                 <%= link_to 'Discard', polls_path, method: :get, class: 'btn default' %>                              
              </div>
           </div>
           <div class="col-md-6">
           </div>
        </div>
       </div>

      <% end %>
  </div>

</div>



<script type="text/javascript">
  $('.tag_token').select2('data', <%= raw @poll_tags.to_json %>);
  $('.multi-field-wrapper').each(function() {
    var $wrapper = $('.multi-fields', this);
    $(".add-field", $(this)).click(function(e) {
        $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').val('').focus();
        $('.remove-field:last-child').get(-1).style.visibility='visible';
    });
    $('.multi-field .remove-field', $wrapper).click(function() {
        if ($('.multi-field', $wrapper).length > 1)
            $(this).parent('.multi-field').remove();
    });
    $(".remove-field").get(0).style.visibility='hidden';
  });
</script>
