<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li class="current"><a href="#">Poll</a></li>
</ul>

<table>
  <thead>
    <tr>
      <th width="50">#</th>
      <th width="350">Title</th>
      <th>Recurring</th>
      <th>Vote All</th>
      <th>View All</th>
      <th width="200">Expire At</th>
      <th width="200">Created At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= link_to poll.id, poll_choices_path(poll.id) %></td>
        <td><%= poll.title %></td>
        <td><%= poll.check_recurring %></td>
        <td><%= poll.vote_all %></td>
        <td><%= poll.view_all %></td>
        <td><%= poll.expire_date.strftime("%B %d, %Y") %></td>
        <td><%= poll.created_at.strftime("%B %d, %Y") %></td>
        <td><%= link_to 'Delete', poll_path(poll), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="pagination-centered">
    <%= will_paginate @polls, renderer: FoundationPagination::Rails %>
  </div>
</div>

<div class="tag_cloud">
  <% tag_clound Poll.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, '#', class: css_class %>
  <% end %>
</div>