<% if @poll_latest.present? %>
  <div id="chart_div"></div>
  
  <div class="poll_header">
    Poll: <%= @poll_latest.title %>
  </div>

  <br>

  <div class="panel-padding">
    <ul class="list-group">
      <% @choice_poll_latest = @poll_latest.cached_choices.collect{|e| [e.answer, e.vote] } %>
      <% @choice_poll_latest_max = @choice_poll_latest.collect{|e| e.last }.max %>
      
      <% @poll_latest.cached_choices.each do |choice| %>
      <li class="list-group-item">
        <span class="badge badge-primary <%= is_max_badge(choice.vote, @choice_poll_latest_max) %>"><%= choice.vote %></span>
        <%= @poll_latest.rating? ? show_star_answer(choice.answer).html_safe : choice.answer %>
      </li>
      <% end %>
    </ul>
  </div>


  <%= content_tag :div, "", id: 'choice_poll_latest', data: { polls: @choice_poll_latest } %>

  <script type="text/javascript">
    var vote_all = <%= @poll_latest.vote_all %>;
      if (vote_all > 0) {      
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawPieChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawPieChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        var chart_data = $('#choice_poll_latest').data('polls');
        data.addColumn('string', 'Answer');
        data.addColumn('number', 'Vote');

        data.addRows(chart_data);

        // Set chart options
        var options = {
          'title'  : '<%= @poll_latest.title %>',
          'width'  : 500,
          'height' : 300,
          'is3D'   : true
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      $.ajax({
        complete: function(){
          drawPieChart();
        }
      });
    } else {
      $('#chart_div').replaceWith("<h3>No vote result.</h2>");
    }
  </script>

<% else %>
  <p>Don't have any poll.</p>
<% end %>
