<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-star fa-fw "></i> 
        Rating Poll
    </h1>
  </div>
</div>


<section id="widget-grid" class="">
  <div class="row">
    <div class="col-md-12">
      <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

      <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2><strong>Form</strong></h2>       
        
      </header>
      <!-- widget div-->
      <div>
    
        <!-- widget content -->
        <div class="widget-body">
          <%= simple_form_for @poll, :html => { :multipart => true, class: "smart-form", id: "form-input" } do |f| %>
          <%= f.input :type_poll, as: :hidden, input_html: { value: "rating" } %>
          <header>
            Poll Detail 
          </header>

          <fieldset>
            
            <section>
              <div class="row">
                <section class="col col-9">
                  <label class="label">Question</label>
                  <label class="textarea">
                    <textarea class="maxlength_textarea" id="textarea3" rows="5" name="poll[title_with_tag]" maxlength="250" required data-parsley-range="[5,255]" style="display: block; width: 100%;"></textarea>
                  </label>
                  <div class="option_config">
                    <label class="toggle">
                      <input type="checkbox" name="poll[allow_comment]" checked="checked">
                    <i data-swchon-text="on" data-swchoff-text="off"></i>Allow Comment</label>
                    
                    <label class="toggle">
                      <input type="checkbox" name="poll[qr_only]">
                    <i data-swchon-text="on" data-swchoff-text="off"></i>Qrcode Only</label>
                    
                    <label class="toggle">
                      <input type="checkbox" name="poll[require_info]" checked="checked">
                    <i data-swchon-text="on" data-swchoff-text="off"></i>Require Infomation</label>

                    <label class="toggle">
                      <input type="checkbox" name="poll[show_result]" checked="checked">
                    <i data-swchon-text="on" data-swchoff-text="off"></i>Show Result Vote.</label>
                  </div>
                </section>

                <section class="col col-3">
                  <div class="form-group">
                    <input type="file" class="default" name="poll[photo_poll]" id="drop_photo_poll" accept="image/png, image/jpeg, image/gif"/>
                  </div>
                </section>

              </div>
            </section>

            <section>
              <label class="label">Choice</label>
              <label class="input">
                <i class="fa fa-star fa-2x"></i>
              </label>
            </section>

            <section>
              <label class="label">Choices</label>
              <label class="input">
                <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i>
              </label>
            </section>

            <section>
              <label class="label">Choices</label>
              <label class="input">
                <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i>
              </label>
            </section>

            <section>
              <label class="label">Choices</label>
              <label class="input">
                <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i>
              </label>
            </section>

            <section>
              <label class="label">Choices</label>
              <label class="input">
                <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i>
              </label>
            </section>

          </fieldset>

          <header>
            Config
          </header>
          
          <fieldset>
            <div class="row">

              <section class="col col-2">

              <label class="label">Expire within (day)</label>
              <label class="select">
                <select name="poll[expire_date]">
                  <option value="0" selected="">Unexpired</option>
                  <% (1..30).each do |e| %>
                    <option value="<%= e %>"><%= e %></option>
                  <% end %>
                </select> <i></i> 
              </label>

              </section>

              <% if current_member.company? %>

              <section class="col col-5"> 
                <div class="form-group">
                  <label class="label">In Group</label>
                    <input type="text" name="poll[group_id]" id="group_list">
                </div>
              </section>  

              <section class="col col-5">
                  <label class="label">Campaign</label>
                  <label class="select">
                    <%= f.select :campaign_id, current_member.campaigns.all.map! {|r| [r.name, r.id ] }, { include_blank: true },  { class: 'select2', placeholder: "Select a campaign"} %>
                  </label>
                </section>

              <% else %>
                <section class="col col-5">
                  <label class="label">Campaign</label>
                  <label class="select">
                    <%= f.select :campaign_id, current_member.campaigns.all.map! {|r| [r.name, r.id ] }, { include_blank: true },  { class: 'select2', placeholder: "Select a campaign"} %>
                  </label>
                </section>

                <section class="col col-5">
                  <label class="label">Recurring</label>
                  <label class="select">
                    <%= f.select :recurring_id, list_recurring.map! { |r| [ r.description + " รันทุกๆ  " + r.period.strftime("%H:%M") + " น.", r.id.to_i]}, { include_blank: true },  { class: 'select2', placeholder: "Select a recurring"} %>
                  </label>
                </section>

              <% end %>
            </div>
          </fieldset>
        

          <footer>
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">
              Back
            </button>
          </footer>
            <% end %>

        </div>
        <!-- end widget content -->
        
      </div>
      <!-- end widget div -->
      </div>
    </div>
  </div>
</section>



<script type="text/javascript">
  $("#form-input").parsley();
</script>

<% if current_member.company? %>
  <script type="text/javascript">
  $( document ).ready(function() {
    $("#group_list").select2({
        width: "100%",
        multiple: true,
        placeholder: "Select a group",
        query: function (query){
          var data = {results: []};

            $.each(<%= raw ActiveModel::ArraySerializer.new(@group_list, each_serializer: GroupListSerializer).to_json %>, function(){
                if(query.term.length == 0 || this.text.toUpperCase().indexOf(query.term.toUpperCase()) >= 0 ){
                    data.results.push({id: this.id, text: this.text });
                }
            });

            query.callback(data);
        }
    });
    $('#group_list').select2('data', <%= raw ActiveModel::ArraySerializer.new(@group_list, each_serializer: GroupListSerializer).to_json %> );
  });
  </script>
<% end %>