<%= render(
  partial: "v1/partials/flash_message",
  locals: {
    type: 'info',
    message: @poll.voting_info[:message]
  }) unless @poll.voting_info[:message].blank?
%>
<h2 class="question"><%= @poll.title %></h2>
<% unless @poll.get_photo.blank? %>
  <img class="image" src="<%= @poll.get_photo %>">
<% end %>
<% if @poll.voted? && @poll.rating? %>
    <%= render(partial: "v1/partials/polls/rating_result") %>
<% elsif @poll.voted? %>
  <% @poll.choices.each do |choice| %>
    <%= render(partial: "v1/partials/polls/result", locals: { choice: choice }) %>
  <% end %>
<% else %>
  <% @poll.choices.each do |choice| %>
    <%= render(partial: "v1/partials/polls/member_choice", locals: { choice: choice }) %>
  <% end %>
<% end %>
