<div class="well">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="page-title txt-color-blueDark page-well-header">
      <%= image_tag(@group.photo_group.url(:thumbnail), size: '50x50') %> <%= link_to @group.name + ' Group', company_group_detail_path(@group), id: 'header-link'%> > Edit
      </h1>
    </div>
  </div>
</div>
<div class="well well-sm">
  <div class="row profile-account">
    <div class="col-md-3">
      <ul class="ver-inline-menu tabbable margin-bottom-10">
        <li class="active">
          <a data-toggle="tab" href="#tab_5-1">
            <i class="fa fa-cog"></i>
            Group info
          </a>
          <span class="after"></span>
        </li>
        <!-- <li class=""><a data-toggle="tab" href="#tab_5-2"><i class="fa fa-picture-o"></i> Change Photo</a></li> -->
        <li class=""><a data-toggle="tab" href="#tab_5-3"><i class="fa fa-picture-o"></i> Change Cover</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="tab-content">
        <div id="tab_5-1" class="tab-pane active">
          <form role="form" action="<%= company_update_group_path %>" class="smart-form" method="post" id="group_profile">
            <fieldset>
              <section>
                <label class="label">Group Name</label>
                <label class="input">
                  <input type="hidden" name="group_id" value="<%= @group.id %>">
                  <input type="text" name="group[name]" value="<%= @group.name %>" data-parsley-required="true">
                </label>
                <div class="note">
                  <strong>Note</strong> Group name is show in app Pollios.
                </div>
              </section>
              <section>
                <label class="label">Description</label>
                <label class="textarea">
                  <textarea rows="3" class="custom-scroll" name="group[description]"><%= @group.description %></textarea>
                </label>
                <div class="note">
                  <strong>Note</strong> description is show in app Pollios.
                </div>
              </section>
              <section>
                <div class="row">
                  <div class="col col-md-4">
                  <label class="toggle">
                    <input type="checkbox" name="group[leave_group]">
                  <i data-swchon-text="Yes" data-swchoff-text="No"></i>Can member leave this group?</label>
                  </div>
                </div>
              </section>

              <section>
                <div class="row">
                  <div class="col col-md-4">
                  <label class="toggle">
                    <input type="checkbox" name="group[admin_post_only]">
                  <i data-swchon-text="Yes" data-swchoff-text="No"></i>Can admin post poll only?</label>
                  </div>
                </div>
              </section>
              
              <section>
                <div class="row">
                  <div class="col col-md-4">
                  <label class="toggle">
                    <input type="checkbox" name="group[need_approve]">
                  <i data-swchon-text="Yes" data-swchoff-text="No"></i>Need approve to join group?</label>
                  </div>
                </div>
              </section>

              <section>
                <div class="row">
                  <div class="col col-md-4">
                  <label class="toggle">
                    <input type="checkbox" name="group[system_group]">
                  <i data-swchon-text="Yes" data-swchoff-text="No"></i>System Group</label>
                  </div>
                </div>
              </section>

              <section>
                <div class="row">
                  <div class="col col-md-4">
                  <label class="toggle">
                    <input type="checkbox" name="group[public]">
                  <i data-swchon-text="Yes" data-swchoff-text="No"></i>Public Group</label>
                  </div>
                </div>
              </section>

              <section>
                <div class="row">
                  <div class="col col-md-4">
                  <label class="toggle">
                    <input type="checkbox" name="group[set_group_type]">
                  <i data-swchon-text="Yes" data-swchoff-text="No"></i>Group Company</label>
                  </div>
                </div>
              </section>


            </fieldset>
            <footer>
              <button type="submit" class="btn btn-primary" id="submit_detail_group" data-disable-with="Loading..." onclick="" >
              Submit
              </button>
            </footer>
          </form>
        </div>
        <div id="tab_5-2" class="tab-pane">
          <div class="alert alert-info alert-block">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Group photo Upload</h4>
            File must be less than 500 kb and support file type as png, jpeg, jpg
          </div>
          <form role="form" action="<%= company_update_group_path %>" method="post" class="smart-form" enctype="multipart/form-data">
            <div class="form-group dropzone-photo">
              <input type="hidden" name="group_id" value="<%= @group.id %>">
              <input type="file" class="default" name="group[photo_group]" id="drop_photo_group" accept="image/png, image/jpeg, image/gif"/>
            </div>
            <footer>
              <% if @group.photo_group.present? %>
              <%= link_to 'Delete', delete_photo_group_path(@group), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger' %>
              <% end %>
              <button type="submit" class="btn btn-primary" id="drop_photo_group" data-disable-with="Loading..." onclick="" disabled="disabled">
              Submit
              </button>
            </footer>
          </form>
        </div>
        <div id="tab_5-3" class="tab-pane">
          <div class="alert alert-info alert-block">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Group Cover Upload</h4>
            File must be less than 500 kb and support file type as png, jpeg, jpg
          </div>
          <form role="form" action="<%= company_update_group_path %>" method="post" class="smart-form" enctype="multipart/form-data">
            <div class="form-group dropzone-photo">
              <input type="hidden" name="group_id" value="<%= @group.id %>">
              <input type="file" class="default" name="group[cover]" id="drop_cover_group" accept="image/png, image/jpeg, image/gif"/>
            </div>
            <footer>
              <% if @group.cover.present? %>
              <%= link_to 'Delete', delete_cover_group_path(@group), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger' %>
              <% end %>
              <button type="submit" class="btn btn-primary" id="drop_cover_group" data-disable-with="Loading..." onclick="" disabled="disabled">
              Submit
              </button>
            </footer>
          </form>
        </div>
        
      </div>
    </div>
    <!--end col-md-9-->
  </div>
</div>
<script>
  $.check_leave_group = <%= raw @group.leave_group %>;
  $.check_admin_post_only = <%= raw @group.admin_post_only %>;
  $.check_system_group = <%= raw @group.system_group %>;
  $.check_need_approve = <%= raw @group.need_approve %>;
  $.check_public_group = <%= raw @group.public %>;
  $.check_group_type = <%= raw @group.company? %>;

  if ($.check_leave_group) {
    $("input[name='group[leave_group]']").attr( 'checked', 'checked' );
  };

  if ($.check_admin_post_only) {
    $("input[name='group[admin_post_only]']").attr( 'checked', 'checked' );
  };

  if ($.check_need_approve) {
    $("input[name='group[need_approve]']").attr( 'checked', 'checked' );
  }

  if ($.check_system_group) {
    $("input[name='group[system_group]']").attr( 'checked', 'checked' );
  }

  if ($.check_public_group) {
    $("input[name='group[public]']").attr( 'checked', 'checked' );
  }

  if ($.check_group_type) {
    $("input[name='group[set_group_type]']").attr( 'checked', 'checked' );
  }

  $("#group_profile").parsley();
  $(document).ready(function() {
    dropZonePhotoGroup("<%= @group.photo_group.url(:thumbnail).presence || "" %>");
    dropZoneCoverGroup("<%= @group.cover.url(:thumbnail).presence || "" %>");
  });
</script>