<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-edit fa-fw "></i> 
        Invite Code of <%= current_member.company.name %>
    </h1>
  </div>
</div>


<div class="well">
  <h4 class="alert-heading">Please Note!</h4>
  <p>
    Generate invite code for someone want join our group.
  </p>
  <br>
    <a href="#" class="icon-btn" data-toggle="modal" data-target="#new_invite">
      <i class="fa fa-edit"></i>
      <div>New</div>
    </a>
</div>

<div id="new_invite" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Invite Code</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <%= simple_form_for @invite, url: '/invites', method: :post do |f| %>
                
                <div class="col col-md-2">
                  <%= f.input :amount_code, as: :integer, label: 'Amount', input_html: { value: @find_company.max_invite_code, 'data-parsley-required' => true, "data-parsley-type" => "integer",
                  "min" => "1", "max" => "30" } %>
                </div>

                <div class="col col-md-2">
                  <%= f.input :prefix_name, label: 'Abbreviation', placeholder: 'CA', input_html: { value: @find_company.short_name, 'data-parsley-required' => true } %>
                </div>

<!--                 <div class="col col-md-12">
                  <%= f.submit "Create Invite", class: 'btn btn-primary', "data-disable-with" => "Loading..." %>
                </div> -->
            <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="new_invite_submit">Create</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


<section id="widget-grid" class="">
  <div class="jarviswidget" id="wid-company-invite-code" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-gift"></i> </span>
      <h2><strong>List of Invitation</strong></h2>          
    </header>

    <!-- widget div-->
    <div>
      
      <!-- widget content -->
        <div class="widget-body no-padding">

          <table id="company_invite_code" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Used</th>
                <th>Who</th>
              </tr>
            </thead>
            <tbody>
              <% @invite_codes.each do |invite_code| %>
                <tr>
                  <td><%= invite_code.id %></td>
                  <td><%= invite_code.code %></td>
                  <td><%= invite_code_helper(invite_code.used) %></td>
                  <td><%= invite_code.member_invite_code.present? ? invite_code.member_invite_code.member.get_name : "-" %></td>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      <!-- end widget content -->
      
    </div>
    <!-- end widget div -->

  </div>
</section>

<script type="text/javascript">
  $("#new_invite_code").parsley();
  $("#new_invite_submit").click(function () {
    var btn = $(this);
    btn.button('loading');
    $("form#new_invite_code").submit();
  });
</script>
