<div class="well">
<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark page-well-header">
        <%= image_tag(@group.photo_group.url(:thumbnail), size: '50x50') %> <%= @group.name %> Group
    </h1>
  </div>
</div>
</div>


<div class="well">
  <h4 class="alert-heading">Please Note!</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas magna lectus, eleifend sed augue a, commodo auctor turpis. Praesent ornare mi est, ac rutrum felis pharetra nec. Morbi aliquam turpis ut sagittis gravida. Quisque ut lacus eget justo hendrerit dignissim eget et nisl. Morbi quis augue lectus. Praesent placerat ultricies dolor, ut fringilla magna.<strong> Pollios</strong>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
  <br>
<!--   <a href="#" class="icon-btn">
    <i class="fa fa-edit"></i>
    <div>Sub Group</div>
  </a> -->

  <a href="<%= company_add_member_url %>" class="icon-btn">
    <i class="fa fa-plus"></i>
    <div>Add User</div>
  </a>
</div>

<section id="widget-grid" class="">
  <div class="jarviswidget" id="wid-company-members" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-group"></i> </span>
      <h2><strong>Members of <%= @group.name %></strong></h2>          
    </header>

    <!-- widget div-->
    <div>
      
      <!-- widget content -->
        <div class="widget-body no-padding">

          <table id="company_members" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
              <tr>
                <th width="50">#</th>
                <th width="50">Avatar</th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Joined at</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @members.each do |member| %>
                <tr>
                  <td><%= member.id %></td>
                  <td><img src="<%= member.avatar.url(:thumbnail_small) %>" alt="user" class="img img-circle img-responsive center-block" data-toggle="tooltip" data-placement="top" title="<%= member.fullname %>"></td>
                  <td><%= member.get_name %></td>
                  <td><%= member.email %></td>
                  <td><a href="#" class="admin_status" data-type="select" data-pk="<%= member.id %>" data-url="/group/<%= params[:group_id] %>/group_update.json" data-original-title="Select Status" data-value="<%= member.admin ? 2 : 1 %>"><%= member.is_admin_group(member.admin) %></a></td>
                  <td><span data-livestamp="<%= member.joined_at.to_i %>"></span></td>
                  <td><a class="btn btn-default btn-danger" data-confirm="Are you sure?" data-method="delete" href="<%= remove_member_group_path(member_id: member.id, group_id: params[:group_id]) %>" rel="nofollow">Delete</a></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      <!-- end widget content -->
      
    </div>
    <!-- end widget div -->

  </div>
</section>


<script type="text/javascript">
  $( document ).ready(function() {
    $('.admin_status').editable({
      showbuttons: false,
      source: [
              {value: 1, text: 'Member'},
              {value: 2, text: 'Admin'}
      ],
      value: function(value) {
        $(this).text(value);
      },
      error: function(response, newValue) {
          if(response.status === 500) {
              return 'Service unavailable. Please try later.';
          } else {
              return response.responseText;
          }
      }
    });

  });
</script>
