<% breadcrumb :new_member_internal_survey_member %>

<div class="well well-lg">

  <h1 class="page-header-all">
    <i class="fa fa-plus fa-fw"></i>
      Add Members
  </h1>

  <div class="well well-lg">
    <%= simple_form_for Member.new, url: authen_signup_via_company_path, method: :post, :html => { :multipart => true } do |f| %>
        <div class="row">
            <%= f.input :company_id, as: :hidden, input_html: { value: @find_company.id } %>
            <%= f.input :member_type, as: :hidden, input_html: { value: "0" } %>
          <div class="col col-md-12">
            <%= f.input :email, as: :email, placeholder: "test1@exmaple.com" %>
          </div>

          <div class="col col-md-12">
            <%= f.input :password, as: :password, input_html: { 'data-parsley-required' => true, 'data-parsley-length' => '[6,255]' } %>
          </div>

          <div class="col col-md-12">
            <%= f.input :password_confirmation, as: :password, input_html: { 'data-parsley-required' => true, 'data-parsley-equalto' => '#member_password' } %>
          </div>

          <div class="col col-md-offset-5 col-md-2">
            <%= f.submit "Create", class: 'btn btn-primary btn-lg btn-fullwidth', "data-disable-with" => "Loading..." %>
          </div>

        </div>

    <% end %>
  </div>
</div>


<h1 class="text-center">OR</h1>
<div class="well well-lg">
  <%= simple_form_for @multi_signup, url: multi_signup_via_company_path, method: :post, :html => { :multipart => true } do |f| %>
      <div class="row">
        <div class="col col-md-9">
          <%= f.input :company_id, as: :hidden, input_html: { value: @current_member.get_company.id } %>
          <%= f.input :list_email, as: :text, label: 'List Email', placeholder: "test1@exmaple.com", input_html: { id: "list_email_text", rows: "10" } %>
        </div>

        <div class="col col-md-3">
          <%= f.input :file, as: :file, label: 'Import (Excel, CSV, TXT)' %>
          <div class="note">
            <strong>Example File:</strong> <b><%= link_to "CSV", download_csv_url, method: "POST" %>, <%= link_to "Excel", download_excel_url, method: "POST" %>, <%= link_to "Text", download_txt_url, method: "POST" %></b>
          </div>

          <%= f.input :password, as: :password, input_html: { 'data-parsley-required' => true, 'data-parsley-length' => '[6,255]' } %>
        </div>

      <div class="col col-md-offset-5 col-md-2">
        <%= f.submit "Create", class: 'btn btn-primary btn-lg btn-fullwidth', "data-disable-with" => "Loading..." %>
      </div>

      </div>

  <% end %>
</div>

<style type="text/css">
  #list_email_text::-webkit-input-placeholder::after {
      display:block;
      content:"test2@exmaple.com\A test3@exmaple.com\A test4@exmaple.com";
  }
</style>
