<div class="panel">
<%= f.input :title, wrapper: :horizontal, input_html: { class: "answer" }, label: "Question" %>
<%= f.input :member_id, input_html: { value: current_member.id }, as: :hidden %>
<%= f.link_to_remove "Remove", class: "tiny button btn btn-default" %>

<%= f.fields_for :choices do |builder| %>
  <%= render 'choice_fields', :f => builder %>
<% end %>
<p><%= f.link_to_add "More Choice", :choices, class: 'btn btn-xs btn-default' %></p>
</div>