<table>
  <thead>
    <tr>
      <th width="50">#</th>
      <th width="290">Description</th>
      <th>Vote All</th>
      <th>View All</th>
      <th width="150">Expire At</th>
      <th width="200">Created At</th>
      <th>QRCODE</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @poll_series.each do |series| %>
      <tr>
        <td><%= link_to series.id, "#" %></td>
        <td><%= series.description %></td>
        <td><%= series.vote_all %></td>
        <td><%= series.view_all %></td>
        <td><%= series.expire_date.strftime("%B %d, %Y") %></td>
        <td><%= series.created_at %></td>
        <td><a href="/questionnaire/<%= series.id %>/qrcode">Qrcode</a></td>
        <td><%= link_to 'Edit', edit_poll_series_path(series) , method: :get %> | <%= link_to 'Delete', poll_series_path(series), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless @poll_series.count > 0 %>
  <div data-alert class="alert-box">
    No have series poll yet.
  </div>
<% end %>

<div class="row">
  <div class="pagination-centered">
    <%= will_paginate @poll_series, renderer: FoundationPagination::Rails %>
  </div>
</div>