<section id="widget-grid" class="">
  <div class="row">
    <div class="col-md-12">
      <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

      <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2><strong>Form</strong></h2>       
        
      </header>
      <!-- widget div-->
      <div>
    
        <!-- widget content -->
        <div class="widget-body">
          <%= simple_nested_form_for @poll_series, :html => { :multipart => true, class: "smart-form", id: "form-input" } do |f| %>
          <%= f.input :type_series, wrapper: :horizontal, input_html: { value: 1 }, as: :hidden %>
          <header>
            Questionnaire Detail 
          </header>

          <fieldset>
            
            <section class="col col-10">
              <label class="label">Description</label>
              <label class="textarea">
                <%= f.input :description, label: false, input_html: { autofocus: "autofocus"}, required: false %>
              </label>
              <div class="onoffswitch-container" style="margin-left: 0px;">
                <span class="onoffswitch-title">Allow Suggest</span> 
                <span class="onoffswitch">
                  <input type="checkbox" class="onoffswitch-checkbox" name="poll_series[allow_comment]" id="autoopen" checked>
                  <label class="onoffswitch-label" for="autoopen"> 
                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span> 
                    <span class="onoffswitch-switch"></span>
                  </label> 
                </span> 
              </div>
            </section>

            <section class="col col-2">
              <label class="label">Expire with in</label>
              <label class="select">
                <%= f.input :expire_within, collection: 1..20, label: false, include_blank: false %>
                <i></i>
              </label>
            </section>

          </fieldset>

          <fieldset>
            <section class="col col-8">
            <div class="panel panel-blue">
              <div class="panel-heading">
                <h4 class="panel-title">List of question</h4>
              </div>

              <div class="panel-body">

                <div class="panel-body-row">
                <%= f.fields_for :polls do |poll_form| %>
                  <%= render 'poll_fields',  :f => poll_form %>     
                <% end %>
                <%= f.link_to_add "More Poll", :polls, class: 'btn btn-primary add_new_poll' %>
                </div>
              </div>
            </div>
            </section>

            <section class="col col-4">
              <div class="panel panel-blue">
                <div class="panel-heading">
                  <h4 class="panel-title">Choices</h4>
                </div>

                <div class="panel-body">
                  <div class="panel-body-row">
                  <fieldset>
                    <% 5.times do |i| %>
                      <section>
                        <label class="input"> <i class="icon-append fa fa-pencil"></i>
                          <input type="text" name="same_choices[]" placeholder="" value="<%= i+1 %>">
                        </label>
                      </section>
                    <% end %>
                  </fieldset>
                  </div>
                </div>
              </div>
            </section>

          </fieldset>

          <header>
            Config
          </header>
          
          <fieldset>
          
            <section>
              <label class="label">Tag</label>
              <div class="form-group">
              <%= f.input :tag_tokens, label: false, :input_html => { :class => "tag_token", :id => "tag_list_normal" } %>
              </div>
            </section>

            <section>
              <label class="label">Campaign</label>
              <label class="select">
                <%= f.select :campaign_id, Campaign.all.map! {|r| [r.name, r.id ] }, { include_blank: true },  { class: 'select2', placeholder: "Select a campaign"} %>
              </label>
            </section>
          
          </fieldset>
        

          <footer>
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">
              Back
            </button>
          </footer>
            <% end %>

        </div>
        <!-- end widget content -->
        
      </div>
      <!-- end widget div -->
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">

  $(".remove_nested_fields")[0].style.visibility='hidden';
  $(".remove_nested_fields")[1].style.visibility='hidden';

</script>