<section id="widget-grid" class="">
  <div class="row">
    <div class="col-md-12">
      <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

      <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2><strong>Quesitonnaire Form</strong></h2>       
        
      </header>
      <!-- widget div-->
      <div>
    
        <!-- widget content -->
        <div class="widget-body">
          <%= simple_nested_form_for @questionnaire, url: create_feedback_questionnaire_path, :html => { :multipart => true, class: "smart-form", id: "form-input" } do |f| %>
          <%= f.input :type_series, wrapper: :horizontal, input_html: { value: 1 }, as: :hidden %>
          <%= f.input :feedback, wrapper: :horizontal, input_html: { value: true }, as: :hidden %>
          <header>
            Questionnaire Detail 
          </header>

          <fieldset>
            
            <section class="col col-9">
              <label class="label">Description</label>
              <label class="textarea">
                <%= f.input :description, label: false, input_html: { autofocus: "autofocus", rows: "5" }, required: false %>
              </label>
            </section>

            <section class="col col-3">
              <label class="label">Expire within (day)</label>
                <label class="select">
                  <select name="poll_series[expire_date]">
                    <option value="0" selected="">Unexpired</option>
                    <% (1..30).each do |e| %>
                      <option value="<%= e %>"><%= e %></option>
                    <% end %>
                  </select> <i></i> 
                </label>

              <div class="option_config">
                <label class="toggle">
                  <input type="checkbox" name="poll_series[allow_comment]" checked="checked">
                <i data-swchon-text="on" data-swchoff-text="off"></i>Allow Suggest</label>
                
                <label class="toggle">
                  <input type="checkbox" name="poll_series[qr_only]" checked="checked">
                <i data-swchon-text="on" data-swchoff-text="off"></i>Qrcode Only</label>
                
                <label class="toggle">
                  <input type="checkbox" name="poll_series[require_info]" checked="checked">
                <i data-swchon-text="on" data-swchoff-text="off"></i>Require Infomation</label>
              </div>
            </section>

          </fieldset>

          <fieldset>
            <section class="col col-10">
            <div class="panel panel-darken">
              <div class="panel-heading">
                <h4 class="panel-title">List of Question Poll</h4>
              </div>

              <div class="panel-body">

                <div class="panel-body-row">
                <%= f.fields_for :polls do |poll_form| %>
                  <%= render '/poll_series/poll_fields',  :f => poll_form %>     
                <% end %>
                <%= f.link_to_add "<i class='fa fa-plus txt-color-red'></i> Add New Poll Question".html_safe, :polls, class: 'btn btn-default btn-sm add_new_poll btn-pill' %>
                </div>
              </div>
            </div>
            </section>

            <section class="col col-2">
              <div class="panel panel-darken">
                <div class="panel-heading">
                  <h4 class="panel-title">Answer</h4>
                </div>

                <div class="panel-body">
                  <div class="panel-body-row">
                  <fieldset>
                    <% 5.times do |i| %>
                      <section>
                        <label class="input"> <i class="icon-append fa fa-pencil"></i>
                          <input type="text" name="same_choices[]" placeholder="" value="<%= i+1 %>">
                        </label>
                      </section>
                    <% end %>
                  </fieldset>
                  </div>
                </div>
              </div>
            </section>

          </fieldset>

          <header>
            Advance Questionnaire Config
          </header>
          
          <fieldset>
          
<!--             <section> 
                <label class="label">Show In Branch</label>
                <label class="select">
                  <input type="text" name="poll_series[branch_list]" id="branch_list">
                </label>
            </section>   -->

            <section class="branch_list">
              <label class="label">Show In Branch</label>
              <div class="row">
                <%= f.collection_check_boxes(:branch_list, @branch_list, :id, :name ) do |b| %>
                  <%= b.label(class: "label_branch col col-2") { b.check_box(class: "check_box_branch") + b.text } %>
                <% end %>
              </div>
            </section>

             <section class="campaign">
              <label class="label">Campaign</label>
              <label class="select">
                <%= f.select :campaign_id, @current_member.campaigns.all.map {|r| [r.name, r.id ] }, { include_blank: true },  { class: 'select2', placeholder: "Select a campaign"} %>
              </label>
            </section>
          
          </fieldset>
        

          <footer>
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">
              Back
            </button>
          </footer>
            <% end %>

        </div>
        <!-- end widget content -->
        
      </div>
      <!-- end widget div -->
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">

  $(".remove_nested_fields")[0].style.visibility='hidden';
  $(".remove_nested_fields")[1].style.visibility='hidden';

</script>
<% if current_member.get_company.present? %>
  <script type="text/javascript">
  $( document ).ready(function() {
    $("#branch_list").select2({
        width: "100%",
        multiple: true,
        placeholder: "Select a group",
        query: function (query){
          var data = {results: []};

            $.each(<%= raw ActiveModel::ArraySerializer.new(@branch_list, each_serializer: GroupListSerializer).to_json %>, function(){
                if(query.term.length == 0 || this.text.toUpperCase().indexOf(query.term.toUpperCase()) >= 0 ){
                    data.results.push({id: this.id, text: this.text });
                }
            });

            query.callback(data);
        }
    });
    $('#branch_list').select2('data', <%= raw ActiveModel::ArraySerializer.new(@branch_list, each_serializer: GroupListSerializer).to_json %> );
    $('input:checkbox.check_box_branch').prop("checked", true); 
  });
  </script>
<% end %>