<% breadcrumb :collection, @collection %>

<div class="well">
  <h1 class="text-center"><strong><%= @collection.title %></strong></h1>

  <section>
    <div class="section-title">List Question</div>
    <br>

    <ul class="list_question">
      <% @collection.questions.each do |question| %>
        <li><%= question.first %>) <%= question.last %></li>
      <% end %>
    </ul>
  </section>

  <section>
    <div class="section-title">In Branch</div>   
    <br>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Branch</th>
            <th width="100" class="text-center">Qrcode</th>
          </tr>
        </thead>
        <tbody>
          <% @list_questionnaire.each do |poll_series| %>
          <tr>
            <td><%= poll_series.branch.name %></td>
            <td><%= link_to 'Get Qrcdoe', qrcode_feedback_questionnaire_path(@collection, poll_series.branch), class: 'btn btn-default btn-pill' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>

  <% if @collection.campaign_id.present? %>
    <section>
      Go to: <%= link_to 'Campaign Management', collection_campaign_feedback_path, class: 'btn btn-pill btn-success' %>
    </section>
  <% end %>




</div>

<section id="widget-grid" class="">
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-feedback-list-questionnaire-<%= @collection.id %>" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
      <h2><strong>Questionnaire of each branch</strong></h2>          
    </header>

    <!-- widget div-->
    <div>
      
      <!-- widget content -->
        <div class="widget-body no-padding">

          <table id="collection_questionnaire" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
              <tr>
                <th width="20">#</th>
                <th width="100">Created At</th>
                <th>Branch</th>
                <th>Vote</th>
                <th>View</th>
                <th width="150">Last updated</th>
              </tr>
            </thead>
            <tbody>
              <% @questionnaires.each do |questionnaire| %>
                <tr>
                  <td><%= questionnaire.id %></td>
                  <td><%= questionnaire.created_at.strftime("%d %B %Y") %></td>
                  <td><%= link_to questionnaire.branch.name, collection_feedback_branch_detail_path(@collection, questionnaire.branch, questionnaire.id) %></td>
                  <td><%= questionnaire.vote_all %></td>
                  <td><%= questionnaire.view_all %></td>
                  <td><span data-livestamp="<%= questionnaire.updated_at.to_i %>"></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      <!-- end widget content -->
      
    </div>
    <!-- end widget div -->

  </div>
</section>