<% breadcrumb :collection_campaign, @collection %>

<% if @collection.campaign.present? %>
  <div class="well">
    <h2><strong>Campaign Detail</strong></h2>

    <p><b>Name: </b><%= @collection.campaign.name %></p>
    <p><b>Description: </b><%= @collection.campaign.description %></p>
    <p><b>How to redeem: </b><%= @collection.campaign.how_to_redeem %></p>
    <p><b>used: </b><%= @collection.campaign.used %></p>
    <p><b>limit: </b><%= @collection.campaign.limit %></p>
    <p><b>Expire: </b><%= @collection.campaign.expire.strftime("%d %B %Y") %></p>
  </div>
<% end %>

<% if @collection.campaign.present? %>
  <% if @collection.campaign.random_later? %>
    <%= render 'campaign_random_later', campaign: @collection.campaign %>
  <% end %>
<% end %>

<section id="widget-grid" class="" style="margin-top: 30px;">
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-voter-with-campaign-<%= @collection.id %>" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-gift"></i> </span>
      <h2><strong>Campaigns</strong></h2>          
    </header>

    <!-- widget div-->
    <div>
      <!-- widget content -->
      <div class="widget-body no-padding">

        <table class="table table-striped table-bordered table-hover" id="collection_voter_with_campaign">
          <thead>
            <tr>
              <th>#</th>
              <th>Campaign</th>
              <th>Member</th>
              <th>Serial code</th>
              <th>Ref no</th>
              <th>Reward Status</th>
              <th>Redeem</th>
              <th>Redeem at</th>
              <th>Redeemer</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @campaign_members.each do |cm| %>
            <tr>
              <td><%= cm.id %></td>
              <td><%= cm.campaign.name %></td>
              <td><%= cm.member.fullname %></td>
              <td><%= cm.serial_code %></td>
              <td><%= cm.ref_no %></td>
              <td><%= cm.reward_status_text %></td>
              <td><%= cm.redeem %></td>
              <td><%= cm.redeem_at %></td>
              <td><%= cm.redeemer_id %></td>
              <td><%= link_to '' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</section>