<div class="well">
  <%= simple_form_for @special_qrcode do |f| %>

  <fieldset>
    <%= f.input :code %>
  </fieldset>

  <fieldset>
    <%= f.input :member_id %>
  </fieldset>

  <fieldset>
    <%= f.collection_radio_buttons :type, [['member', 'Member'] ,['poll', 'Poll']], :first, :last, class: "radio_special_code" %>
  </fieldset>


  <div class="update-button">
    <%= f.submit "Create", class: 'btn btn-primary' %>
  </div>

  <% end %>
</div>