<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <div class="media">
        <a class="thumbnail pull-left" href="#">
          <img class="media-object" src="<%= @group.cover.url(:thumbnail) %>" width="100">
        </a>
        <div class="media-body">
          <h2 class="media-heading"><strong><%= @group.name %></strong></h2>
          <p><span class="label label-info"><%= @group.get_member_count %> members</span> <span class="label label-warning"><%= @group.get_all_poll_count %> polls</span></p>
          <p>
            <a href="/admin/group/<%= @group.id %>" class="btn btn-xs btn-default"><span class="fa fa-info"></span>  Full Info</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>