<% @polls.each do |poll| %>
<div class="groups-poll-container">
  <div class="poll-creator">
    <%= @group.name %>
  </div>
  <div class="question">
    <% if poll.close_status %>
    <span class="close">ปิดโหวตแล้ว</span>
    <% end %>
    <%= poll.title %>
  </div>
  <div class="voter-container">
    <h3 class="header">ยอดผู้โหวต <%= poll.vote_all %> คน</h3>
  </div>  
  <div class="answer header">
    <span class="text">ตัวเลือก</span>
    <span class="count">โหวต</span>
  </div>
  <% poll.choices.each do |choice| %>
  <div class="answer">
    <span class="text"><%= choice.answer %></span>
    <span class="count"><%= choice.vote %></span>
  </div>
  <% end %>
</div>
<% end %>
