<% @polls.each do |poll| %>
<div class="poll-container">
  <div class="creator"><%= @group.name %></div>
  <div class="content">
    <h4 class="question">
      <% if poll.close_status %>
      <span class="close">ปิดโหวตแล้ว</span>
      <% end %>
      <%= poll.title %>
    </h4>
    <div class="voter-container">
      <h1 class="header">ยอดผู้โหวต <span class="count"><%= poll.vote_all %></span> คน</h1>
    </div>
    <div class="poll-list">
      <div class="poll header">
        <span class="title">ตัวเลือก</span>
        <span class="vote">โหวต</span>
      </div>
      <% poll.choices.each do |choice| %>
      <div class="poll">
        <span class="title"><%= choice.answer %></span>
        <span class="vote"><%= choice.vote %></span>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
