<%= simple_form_for(@campaign, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <label><b>Condition</b></label>
    
    <div class="panel">
      <div class="row">
        <div class="large-2 columns">
          <label>Chance
            <input type="number" placeholder="" value="1" name="campaign[begin_sample]"/>
          </label>
        </div>
              <div class="large-1 columns">
          <span><p class="in">IN</p></span>
        </div>
        <div class="large-2 columns left">
          <label>Total
            <input type="number" placeholder="" value="10" name="campaign[end_sample]"/>
          </label>
        </div>

          <div class="large-2 columns left">
            <%= f.input :limit %>
        </div>
      </div>
    </div>
    <!-- <%= f.association :polls, collection: current_member.polls.where("campaign_id IS NULL"),multiple: 'multiple' %> -->
    <%= f.input :expire, input_html: { id: "datetimepicker" }, as: :string %>
    <label>Poll</label>
    <input type="text" name="campaign[poll_ids]" id="campaign_poll_ids">
    <br>
  
    <%= f.label "Photo Campaign" %>
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 300px; max-height: 300px;">
      <%= image_tag(@campaign.photo_campaign.url) if @campaign.photo_campaign.present? %>
      </div>

      <div>
      <br>
        <span class="btn btn-default btn-file">
        <span class="fileinput-new button tiny success">Select image</span>
        <span class="fileinput-exists button tiny secondary">Change</span>
        <input type="file" name="campaign[photo_campaign]"></span>
        <a href="#" class="fileinput-exists button tiny secondary" data-dismiss="fileinput">Remove</a>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>