<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-gift fa-fw "></i> 
        Campaign
    </h1>
  </div>
</div>


<section id="widget-grid" class="">
  <div class="row">
    <div class="col-md-12">
      <div class="jarviswidget" id="wid-id-new-campaign" data-widget-colorbutton="false" data-widget-editbutton="false">

      <header>
        <span class="widget-icon"> <i class="fa fa-gift"></i> </span>
        <h2><strong>Form</strong></h2>       
        
      </header>
      <!-- widget div-->
      <div>
    
        <!-- widget content -->
        <div class="widget-body">
          <%= simple_form_for @campaign, :html => { :multipart => true, class: "smart-form", id: "campaign-form" } do |f| %>
          <header>
            Detail
          </header>

          <fieldset>
            <div class="row">
              <div class="col col-md-8">
              <section>
                <label class="label">Name</label>
                <label class="input">
                  <%= f.input :name, label: false, input_html: { :"data-parsley-required" => "true" }  %>
                </label>
              </section>

              <section> 
                <div class="form-group">
                  <label class="label">Poll</label>
                    <input type="text" name="campaign[poll_ids]" id="campaign_poll_ids">
                </div>
              </section>  

              <section>
              <div class="form-group">
                   <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                       <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                      </div>
                      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 640px; max-height: 320px; line-height: 20px;">
                        
                      </div>
                      <div>
                         <span class="btn btn-default btn-file">
                         <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select image</span>
                         <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                         <input type="file" class="default" name="campaign[photo_campaign]"/>
                         </span>
                         <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
                      </div>
                  </div>
              </div>
              </section>
            </div>
        
            <div class="col col-md-4">
              <section>
                <div class="form-group">
                  <div class="col-md-4">
                    <label class="string optional control-label" for="datetimepicker">Expire date</label>
                  </div>

                  <div class="col-md-4">
                    <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" style="display: -webkit-inline-box;">
                    <% if action_name == "edit" %>
                      <input class="string optional form-control input-small" id="datetimepicker" name="campaign[expire]" readonly="readonly" type="text" value="<%= @campaign.expire.strftime('%d-%m-%Y') %>" data-validetta="required">
                    <% else %>
                      <input class="string optional form-control input-small" id="datetimepicker" name="campaign[expire]" readonly="readonly" type="text" data-validetta="required">
                    <% end %>     
                      <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          </fieldset>

          <header>
            Config
          </header>
          
          <fieldset>
            <section>
              <label class="label">Change</label>
              <label class="input">
                <%= f.input :begin_sample, label: false, input_html: { :"data-parsley-required" => "true" }, required: false, as: :string %>
              </label>
            </section>

            <section>
              <label class="label">Total</label>
              <label class="input">
                <%= f.input :end_sample, label: false, input_html: { :"data-parsley-required" => "true" }, required: false, as: :string %>
              </label>
            </section>

            <section>
              <label class="label">Limit</label>
              <label class="input">
                <%= f.input :limit, label: false, input_html: { :"data-parsley-required" => "true" }, as: :string, required: false %>
              </label>
            </section>

          </fieldset>
        

          <footer>
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">
              Back
            </button>
          </footer>
            <% end %>

        </div>
        <!-- end widget content -->
        
      </div>
      <!-- end widget div -->
      </div>
    </div>
  </div>
</section>



<script type="text/javascript">
  $("#campaign-form").parsley();
  $( document ).ready(function() {
  // $(".select2me_poll").select2("data", <%= raw @poll_campaigns %>);
    $("#campaign_poll_ids").select2({
        width: "100%",
        multiple: true,
        placeholder: "Select a poll",
        query: function (query){
          var data = {results: []};

            $.each(<%= raw @poll_campaign_new.to_json %>, function(){
                if(query.term.length == 0 || this.text.toUpperCase().indexOf(query.term.toUpperCase()) >= 0 ){
                    data.results.push({id: this.id, text: this.text });
                }
            });

            query.callback(data);
        }
    });

    $('#campaign_poll_ids').select2('data', <%= raw @poll_campaigns.to_json %> );
  });
</script>