<div class="well">
  <a href="<%= new_trigger_path %>" class="btn btn-primary btn-lg">New Trigger</a>
</div>

<section id="widget-grid" class="">
  <div class="jarviswidget" id="wid-list-trigger" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-thumb-tack"></i> </span>
      <h2><strong>List Triggers</strong></h2>
    </header>

    <!-- widget div-->
    <div>

      <!-- widget content -->
        <div class="widget-body no-padding">

          <table id="commercials" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
              <tr>
                <th width="20"></th>
                <th>Poll</th>
                <th>Data</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @list_triggers.each do |trigger| %>
                <tr>
                  <td><%= trigger.id %></td>
                  <td><a href="/admin/poll/<%= trigger.triggerable.id %>"><%= trigger.triggerable.title  %></a></td>
                  <td><%= trigger.data %></td>
                  <td width="50"><%= link_to 'Delete', trigger, class: 'btn btn-pill btn-default', data: { confirm: "Are you sure?", method: :delete } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      <!-- end widget content -->

    </div>
    <!-- end widget div -->

  </div>
</section>
