<div class="well">
  <%= simple_form_for :triggers, url: triggers_path, method: :post do |f| %>

  <label>Config</label>

  <%= f.simple_fields_for :data do |data| %>
    <%= data.input :type, collection: ["Invite Group"], include_blank: false %>
    <%= data.input :action, collection: ["Vote"], include_blank: false %>
    <input type="hidden" id="remote_load_poll" name="poll_id"/>
    <span class="note">Note: 1 Poll per 1 Trigger</span>
  <% end %>

  <div class="list_choice">
  </div>

  <div class="footer" style="margin-top: 20px;">
  <%= f.submit "SUBMIT", class: 'btn btn-default', id: "submit-trigger" %>
  </div>

  <% end %>
</div>


<script>
  $(document).ready(function() {
    $("#submit-trigger").attr("disabled", true);
    $("#remote_load_poll").select2({
      width: '100%',
      placeholder: "Select poll",
      ajax: {
        url: "/load_poll.json",
        delay: 250,
        data: function (params) {
          return {
            q: params,
            trigger: true // search term
          };
        },
        results: function (data, page) {
          return {
              results: data
          };
        },
        cache: true,
      },
      escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
      minimumInputLength: 1,
      formatResult: function (option) {
            return "<div>" + option.desc + "</div>";
        },
      formatSelection: function (option) {
            return option.desc;
      }
    });

    $('#remote_load_poll').on("select2-selecting", function(e) {
      console.log(e.val);
      $.get('/load_choice', { poll_id: e.val }, function (html) {
        $(".list_choice").html(html);
        $("#submit-trigger").attr("disabled", false);
      })

    });

  });

</script>
