<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
    <i class="fa-fw fa fa-file-o"></i> Stats Dashboard <span>&gt;
      <b>Total</b></span></h1>
  </div>

  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
    <ul id="sparks" class="" style="margin: 25px 0 0;">
      <li class="">
        <a href="#" class="btn btn-default btn-xs">Today</a>
      </li>

      <li class="sparks-info">
        <a href="#" class="btn btn-default btn-xs">Yesterday</a>
      </li>

      <li class="sparks-info">
        <a href="#" class="btn btn-default btn-xs">This week</a>
      </li>
      <li class="sparks-info">
        <a href="#" class="btn btn-default btn-xs">This month</a>
      </li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="panel panel-darken">
        <div class="panel-heading">
            <h3 class="panel-title stats">Poll</h3>
        </div>
        <div class="panel-body no-padding text-align-center">
            <div class="the-price">
              <span class="count"><%= 0 %></span>
            </div>
            <div class="price-features" style="background: #ffffff;min-height: 200px;">
              <ul class="list-unstyled text-left">

              </ul>
            </div>
        </div>
        <div class="panel-footer text-align-center">
          <a href="<%= stats_polls_url %>" class="btn btn-default btn-xs" role="button">More</a>
        </div>
    </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="panel panel-darken">
        <div class="panel-heading">
            <h3 class="panel-title stats">Vote</h3>
        </div>
        <div class="panel-body no-padding text-align-center">
            <div class="the-price">
              <span class="count"><%= 0 %></span>
            </div>
            <div class="price-features" style="background: #ffffff;min-height: 200px;">
              <ul class="list-unstyled text-left">

              </ul>
            </div>
        </div>
        <div class="panel-footer text-align-center">
          <a href="javascript:void(0);" class="btn btn-default btn-xs" role="button">More</a>
        </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="panel panel-darken">
        <div class="panel-heading">
            <h3 class="panel-title stats">User</h3>
        </div>
        <div class="panel-body no-padding text-align-center">
            <div class="the-price">
              <span class="count"><%= 0 %></span>
            </div>
            <div class="price-features" style="background: #ffffff;min-height: 200px;">
              <ul class="list-unstyled text-left">

              </ul>
            </div>
        </div>
        <div class="panel-footer text-align-center">
          <a href="javascript:void(0);" class="btn btn-default btn-xs" role="button">More</a>
        </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="panel panel-darken">
        <div class="panel-heading">
            <h3 class="panel-title stats">Group</h3>
        </div>
        <div class="panel-body no-padding text-align-center">
            <div class="the-price">
              <span class="count"><%= 0 %></span>
            </div>
            <div class="price-features" style="background: #ffffff;min-height: 200px;">
              <ul class="list-unstyled text-left">

              </ul>
            </div>
        </div>
        <div class="panel-footer text-align-center">
          <a href="javascript:void(0);" class="btn btn-default btn-xs" role="button">More</a>
        </div>
    </div>
  </div>

</div>