<section id="widget-grid" class="">

<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
    <i class="fa-fw fa fa-file-o"></i> Graph </h1>
  </div>
</div>


  <% if params[:filter_by] == "today" || params[:filter_by].nil? || params[:filter_by] == "yesterday" %>
    <div class="jarviswidget jarviswidget-color-darken" id="wid-poll-created-per-hour" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-gift"></i> </span>
        <h2><strong>Number of polls created per hour</strong></h2>
      </header>

      <!-- widget div-->
      <div>
        <div class="widget-body" style="min-height: 0px;">
          <div class="widget-body-toolbar text-right">
            <div class="label bg-color-blueDark">All</div>
          </div>

          <% if number_of_polls_created_today_chart(params[:filter_by]).present? %>
            <%= content_tag :div, "", id: 'number_of_polls_created_today_chart', data: { polls: number_of_polls_created_today_chart(params[:filter_by]) } %>
          <% else %>
            <h3 class="text-center">There isn't any poll.</h3>
          <% end %>
        </div>
      </div>
      <!-- end widget div -->
    </div>

    <div class="jarviswidget jarviswidget-color-darken" id="wid-votes-per-hour" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-collapsed="true">
      <header>
        <span class="widget-icon"> <i class="fa fa-gift"></i> </span>
        <h2><strong>Number of votes per hour</strong></h2>
      </header>

      <!-- widget div-->
      <div>
        <div class="widget-body" style="min-height: 0px;">
          <% if number_of_polls_voted_today_chart(params[:filter_by]).present? %>
            <%= content_tag :div, "", id: 'number_of_polls_voted_today_chart', data: { polls: number_of_polls_voted_today_chart(params[:filter_by]) } %>
          <% else %>
            <h3 class="text-center">There isn't any vote.</h3>
          <% end %>
        </div>
      </div>
      <!-- end widget div -->
    </div>
  <% elsif params[:filter_by] == "month" %>
    <div class="jarviswidget jarviswidget-color-darken" id="wid-poll-created-30-days" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-gift"></i> </span>
        <h2><strong>Poll created on 30 days ago</strong></h2>
      </header>

      <!-- widget div-->
      <div>
        <div class="widget-body" style="min-height: 0px;">

        <div class="widget-body-toolbar text-right">
          <div class="label bg-color-blueDark">All</div>
          <div class="label bg-color-red">Friend</div>
          <div class="label bg-color-green">Public</div>
          <div class="label bg-color-yellow">Group</div>
        </div>

        <% if polls_ago_chart(1.month.ago).present? %>
          <%= content_tag :div, "", id: 'polls_ago_chart', data: { polls: polls_ago_chart(1.month.ago) } %>
        <% else %>
          <h3>No have information of poll created 30 days ago.</h3>
        <% end %>
        </div>
      </div>
      <!-- end widget div -->
    </div>
  <% elsif params[:filter_by] == 'week' %>
    <div class="jarviswidget jarviswidget-color-darken" id="wid-poll-created-7-days" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-gift"></i> </span>
        <h2><strong>Poll created on 7 days ago</strong></h2>
      </header>
<!--       <div class="row">
        <span class="label bg-color-blueDark pull-right">All</span>
      </div> -->
      <!-- widget div-->
      <div>
        <div class="widget-body" style="min-height: 0px;">

        <div class="widget-body-toolbar text-right">
          <div class="label bg-color-blueDark">All</div>
          <div class="label bg-color-red">Friend</div>
          <div class="label bg-color-green">Public</div>
          <div class="label bg-color-yellow">Group</div>
        </div>

        <% if polls_ago_chart(7.days.ago).present? %>
          <%= content_tag :div, "", id: 'polls_ago_chart', data: { polls: polls_ago_chart(7.days.ago) } %>
        <% else %>
          <h3>No have information of poll created 7 days ago.</h3>
        <% end %>
        </div>
      </div>
      <!-- end widget div -->
    </div>
  <% elsif params[:filter_by] == 'total' %>
    <div class="jarviswidget jarviswidget-color-darken" id="wid-poll-created-total" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-gift"></i> </span>
        <h2><strong>Total Poll</strong></h2>
      </header>

      <!-- widget div-->
      <div>
        <div class="widget-body" style="min-height: 0px;">
          <h3>Not implement yet.</h3>
        </div>
      </div>
      <!-- end widget div -->
    </div>
  <% end %>




  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      <h1 class="page-title txt-color-blueDark">
      <i class="fa-fw fa fa-file-o"></i> Stats Dashboard <span>&gt;
        <b><%= params[:filter_by].presence || 'today' %></b></span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel panel-darken">
          <div class="panel-heading">
              <h3 class="panel-title stats">Poll</h3>
          </div>
          <div class="panel-body no-padding text-align-center">
              <div class="the-price">
                <span class="count"><%= @stats_poll_record.count %></span>
              </div>
              <div class="price-features" style="background: #ffffff;min-height: 200px;">
                <ul class="list-unstyled text-left">
                  <li><i class="fa fa-globe"></i> <%= number_with_delimiter(@stats_poll_record.poll_public) %> <strong> in Public</strong></li>
                  <li><i class="fa fa-user"></i> <%= number_with_delimiter(@stats_poll_record.poll_friend_following) %> <strong> in Friend & Following</strong></li>
                  <li><i class="fa fa-group"></i> <%= number_with_delimiter(@stats_poll_record.poll_group) %> <strong> in Group</strong></li>
                  <li><h2>Total: <b><%= @stats_poll_record.total %></b></h2></li>
                </ul>
              </div>
          </div>
          <div class="panel-footer text-align-center">
            <!-- <a href="<%= stats_polls_url %>" class="btn btn-default btn-xs" role="button">More</a> -->
          </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel panel-darken">
          <div class="panel-heading">
              <h3 class="panel-title stats">Vote</h3>
          </div>
          <div class="panel-body no-padding text-align-center">
              <div class="the-price">
                <span class="count"><%= @stats_vote_record.count %></span>
              </div>
              <div class="price-features" style="background: #ffffff;min-height: 200px;">
                <ul class="list-unstyled text-left">
                  <li><i class="fa fa-globe"></i> <%= number_with_delimiter(@stats_vote_record.poll_public) %> <strong> in Public</strong></li>
                  <li><i class="fa fa-user"></i> <%= number_with_delimiter(@stats_vote_record.poll_friend_following) %> <strong> in Friend & Following</strong></li>
                  <li><i class="fa fa-group"></i> <%= number_with_delimiter(@stats_vote_record.poll_group) %> <strong> in Group</strong></li>
                  <li><h2>Total: <b><%= @stats_vote_record.total %></b></h2></li>
                </ul>
              </div>
          </div>
          <div class="panel-footer text-align-center">
            <!-- <a href="javascript:void(0);" class="btn btn-default btn-xs" role="button">More</a> -->
          </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel panel-darken">
          <div class="panel-heading">
              <h3 class="panel-title stats">User</h3>
          </div>
          <div class="panel-body no-padding text-align-center">
              <div class="the-price">
                <span class="count"><%= number_with_delimiter(@stats_user_record.count) %></span>
              </div>
              <div class="price-features" style="background: #ffffff;min-height: 200px;">
                <ul class="list-unstyled text-left">
                  <li style="color: rgb(215, 22, 82);font-size: 15px;"><i class="fa fa-smile-o"></i> <%= number_with_delimiter(@stats_user_record.active) %> <strong> Active</strong></li>
                  <li style="color: rgb(215, 22, 82);font-size: 15px;"><i class="fa fa-smile-o"></i> <%= number_with_delimiter(@stats_user_record.passive) %> <strong> Passive</strong></li>
                  <li><i class="fa fa-user"></i> <%= number_with_delimiter(@stats_user_record.citizen) %> <strong> Citizen</strong></li>
                  <li><i class="fa fa-user"></i> <%= number_with_delimiter(@stats_user_record.celebrity) %> <strong> Celebrity</strong></li>
                  <li><i class="fa fa-building-o"></i> <%= number_with_delimiter(@stats_user_record.company) %> <strong> Company</strong></li>
                  <li><h2 style="margin: 0px;">Total: <b><%= @stats_user_record.total %></b></h2></li>
                </ul>
              </div>
          </div>
          <div class="panel-footer text-align-center">
            <!-- <a href="javascript:void(0);" class="btn btn-default btn-xs" role="button">More</a> -->
          </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel panel-darken">
          <div class="panel-heading">
              <h3 class="panel-title stats">Group</h3>
          </div>
          <div class="panel-body no-padding text-align-center">
              <div class="the-price">
                <span class="count"><%= number_with_delimiter(@stats_group_record.count) %></span>
              </div>
              <div class="price-features" style="background: #ffffff;min-height: 200px;">
                <ul class="list-unstyled text-left">
                  <li><%= number_with_delimiter(@stats_group_record.public) %> <strong> Public</strong></li>
                  <li><%= number_with_delimiter(@stats_group_record.private) %> <strong> Private</strong></li>
                  <li><h2 style="margin: 0px;">Total: <b><%= @stats_group_record.total %></b></h2></li>
                </ul>
              </div>
          </div>
          <div class="panel-footer text-align-center">
            <!-- <a href="javascript:void(0);" class="btn btn-default btn-xs" role="button">More</a> -->
          </div>
      </div>
    </div>

  </div>

<%= render partial: 'stats_table' %>


</section>

<script type="text/javascript">
  $('[rel=tooltip]').tooltip();
</script>
