<section id="widget-grid" class="">

<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
    <i class="fa-fw fa fa-file-o"></i> Graph </h1>
  </div>
</div>

<div class="jarviswidget jarviswidget-color-darken" id="wid-poll-graph" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">

  <% if params[:filter_by] == "today" || params[:filter_by].nil? %>

    <header>
      <span class="widget-icon"> <i class="fa fa-gift"></i> </span>
      <h2><strong>Number of polls created per hour</strong></h2>          
    </header>

    <!-- widget div-->
    <div>
      <div class="widget-body" style="min-height: 0px;">
        <% if Rails.env.production? %>
          <%= content_tag :div, "", id: 'number_of_polls_created_today_chart', data: { polls: number_of_polls_created_today_chart } %>
        <% end %>
      </div>
    </div>
    <!-- end widget div -->

  <% else %>

    <header>
      <span class="widget-icon"> <i class="fa fa-gift"></i> </span>
      <h2><strong>Poll created on 30 days ago</strong></h2>          
    </header>

    <!-- widget div-->
    <div>
      <div class="widget-body" style="min-height: 0px;">
        <%= content_tag :div, "", id: 'poll_created_30_days_ago_chart', data: { polls: polls_30_days_ago_chart } %>
      </div>
    </div>
    <!-- end widget div -->
  <% end %>

</div>


<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
    <i class="fa-fw fa fa-file-o"></i> Stats Dashboard <span>&gt;
      <b><%= params[:filter_by].presence || 'today' %></b></span></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="panel panel-darken">
        <div class="panel-heading">
            <h3 class="panel-title stats">Poll</h3>
        </div>
        <div class="panel-body no-padding text-align-center">
            <div class="the-price">
              <span class="count"><%= number_with_delimiter(poll_stats[:amount]) %></span>
            </div>
            <div class="price-features" style="background: #ffffff;min-height: 200px;">
              <ul class="list-unstyled text-left">
                <li><i class="fa fa-globe"></i> <%= number_with_delimiter(poll_stats[:public]) %> <strong> in Public</strong></li>
                <li><i class="fa fa-user"></i> <%= number_with_delimiter(poll_stats[:friend_following]) %> <strong> in Friend & Following</strong></li>
                <li><i class="fa fa-group"></i> <%= number_with_delimiter(poll_stats[:group]) %> <strong> in Group</strong></li>
              </ul>
            </div>
        </div>
        <div class="panel-footer text-align-center">
          <a href="<%= stats_polls_url %>" class="btn btn-default btn-xs" role="button">More</a>
        </div>
    </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="panel panel-darken">
        <div class="panel-heading">
            <h3 class="panel-title stats">Vote</h3>
        </div>
        <div class="panel-body no-padding text-align-center">
            <div class="the-price">
              <span class="count"><%= number_with_delimiter(vote_stats[:amount]) %></span>
            </div>
            <div class="price-features" style="background: #ffffff;min-height: 200px;">
              <ul class="list-unstyled text-left">
                <li><i class="fa fa-globe"></i> <%= number_with_delimiter(vote_stats[:public]) %> <strong> in Public</strong></li>
                <li><i class="fa fa-user"></i> <%= number_with_delimiter(vote_stats[:friend_following]) %> <strong> in Friend & Following</strong></li>
                <li><i class="fa fa-group"></i> <%= number_with_delimiter(vote_stats[:group]) %> <strong> in Group</strong></li>
              </ul>
            </div>
        </div>
        <div class="panel-footer text-align-center">
          <a href="javascript:void(0);" class="btn btn-default btn-xs" role="button">More</a>
        </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="panel panel-darken">
        <div class="panel-heading">
            <h3 class="panel-title stats">User</h3>
        </div>
        <div class="panel-body no-padding text-align-center">
            <div class="the-price">
              <span class="count"><%= number_with_delimiter(user_stats[:amount]) %></span>
            </div>
            <div class="price-features" style="background: #ffffff;min-height: 200px;">
              <ul class="list-unstyled text-left">
                <li><i class="fa fa-user"></i> <%= number_with_delimiter(user_stats[:facebook]) %> <strong> via Facebook</strong></li>
                <li><i class="fa fa-user"></i> <%= number_with_delimiter(user_stats[:sentai]) %> <strong> via Sentai</strong></li>
              </ul>
            </div>
        </div>
        <div class="panel-footer text-align-center">
          <a href="javascript:void(0);" class="btn btn-default btn-xs" role="button">More</a>
        </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="panel panel-darken">
        <div class="panel-heading">
            <h3 class="panel-title stats">Group</h3>
        </div>
        <div class="panel-body no-padding text-align-center">
            <div class="the-price">
              <span class="count"><%= number_with_delimiter(group_stats[:amount]) %></span>
            </div>
            <div class="price-features" style="background: #ffffff;min-height: 200px;">
              <ul class="list-unstyled text-left">
                <li><%= number_with_delimiter(group_stats[:amount]) %> <strong> created</strong></li>
              </ul>
            </div>
        </div>
        <div class="panel-footer text-align-center">
          <a href="javascript:void(0);" class="btn btn-default btn-xs" role="button">More</a>
        </div>
    </div>
  </div>

</div>
    <div class="jarviswidget jarviswidget-color-darken" id="wid-poll-popular" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
    <!-- widget options:
      usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
      
      data-widget-colorbutton="false" 
      data-widget-editbutton="false"
      data-widget-togglebutton="false"
      data-widget-deletebutton="false"
      data-widget-fullscreenbutton="false"
      data-widget-custombutton="false"
      data-widget-collapsed="true" 
      data-widget-sortable="false"
      
    -->
    <header>
      <span class="widget-icon"> <i class="fa fa-gift"></i> </span>
      <h2><strong>Poll Popular</strong></h2>          
    </header>

    <!-- widget div-->
    <div>
      
      <!-- widget content -->
      <div class="widget-body no-padding" style="min-height: 0px;">
        <div class="table-responsive">
            
          <table class="table" style="margin-bottom: 0px;">
            <thead>
              <tr>
                <th>Title</th>
                <th>Vote All</th>
                <th>Created by</th>
              </tr>
            </thead>
            <tbody>
              <% @poll_popular.each do |poll| %>
              <tr>
                <td><%= poll.title %></td>
                <td><%= poll.vote_all %></td>
                <td><%= poll.member.sentai_name %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
      </div>
      <!-- end widget content -->
      
    </div>
    <!-- end widget div -->

  </div>


  <div class="jarviswidget jarviswidget-color-darken" id="wid-top-voter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
    
    <header>
      <span class="widget-icon"> <i class="fa fa-gift"></i> </span>
      <h2><strong>Top 10 Voter</strong></h2>          
    </header>

    <!-- widget div-->
    <div>
      
      <!-- widget content -->
      <div class="widget-body no-padding" style="min-height: 0px;">
        <div class="table-responsive">
            
          <table class="table" style="margin-bottom: 0px;">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Name</th>
                <th>Vote count</th>
              </tr>
            </thead>
            <tbody>
              <% @top_voter.each do |member| %>
              <tr>
                <td><%= image_tag(member.get_avatar, size: '50x50') %></td>
                <td><%= member.sentai_name %></td>
                <td><%= member.member_vote_count %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
      </div>
      <!-- end widget content -->
      
    </div>
    <!-- end widget div -->

  </div>

</section>
