<br>

<div class="well">
  <div class="section-title">Public Poll Summary</div>
  <div class="table-responsive">
                    
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Today</th>
        <th>Yesterday</th>
        <th>Week ago</th>
        <th>Month ago</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Public All</td>
        <td><%= @poll_public_all[:today] %></td>
        <td><%= @poll_public_all[:yesterday] %></td>
        <td><%= @poll_public_all[:week_ago] %></td>
        <td><%= @poll_public_all[:month_ago] %></td>
        <td><%= @poll_public_all_total %></td>
      </tr>
      <tr>
        <td>Public Only Citizen</td>
        <td><%= @poll_public_citizen[:today] %></td>
        <td><%= @poll_public_citizen[:yesterday] %></td>
        <td><%= @poll_public_citizen[:week_ago] %></td>
        <td><%= @poll_public_citizen[:month_ago] %></td>
        <td><%= @poll_public_citizen_total %></td>
      </tr>
      <tr>
        <td>Public Only Brand or Celebrity</td>
        <td><%= @poll_public_brand_celebrity[:today] %></td>
        <td><%= @poll_public_brand_celebrity[:yesterday] %></td>
        <td><%= @poll_public_brand_celebrity[:week_ago] %></td>
        <td><%= @poll_public_brand_celebrity[:month_ago] %></td>
        <td><%= @poll_public_brand_celebrity_total %></td>
      </tr>
    </tbody>
  </table>
                      
  </div>
</div>








<script>
  $("#filter").remove();
</script>