<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <title> Pollios </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="I2xo0fFPaR3DKiQhcqD5MnlpSUUKDnEQMksDzYVTJnM" />
    <!-- Use the correct meta names below for your web application
      Ref: http://davidbcalhoun.com/2010/viewport-metatag
      
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">-->
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" data-turbolinks-track="true">
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/smartadmin/css/bootstrap.min.css" data-turbolinks-track="true">
    <link rel="stylesheet" type="text/css" media="screen" href="/smartadmin/css/font-awesome.min.css" data-turbolinks-track="true">
    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="/smartadmin/css/smartadmin-production.min.css" data-turbolinks-track="true">
    <link rel="stylesheet" type="text/css" media="screen" href="/smartadmin/css/smartadmin-skins.min.css" data-turbolinks-track="true">
    <!-- SmartAdmin RTL Support is under construction
    <link rel="stylesheet" type="text/css" media="screen" href="/smartadmin/css/smartadmin-rtl.css" data-turbolinks-track="true"> -->
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-fileupload/bootstrap-fileupload.css" data-turbolinks-track="true">
    <link rel="stylesheet" type="text/css" media="screen" href="/smartadmin/css/custom.css" data-turbolinks-track="true">
    <link rel="stylesheet" type="text/css" href="/plugins/animate-css/animate.min.css" data-turbolinks-track="true">
    <link href="/plugins/bootstrap3-dialog/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" data-turbolinks-track="true">
    <link rel="stylesheet" type="text/css" href="/smartadmin/css/jquery-ezdz.min.css" data-turbolinks-track="true">
    <!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/1.0.1/css/dataTables.responsive.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/dataTable/dataTables.responsive.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/smartadmin/css/dataTables.tableTools.css" data-turbolinks-track="true">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css' data-turbolinks-track="true">
    <link rel="stylesheet" type="text/css" href="/smartadmin/css/your_style.css" data-turbolinks-track="true">
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <style type="text/css">
    #ajaxLoader {
      z-index: 100;
      position: fixed;
      top: 50%;
      left: 47%;
      background-color: #333;
      background-color: rgba(0,0,0,0.7);
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      padding: 50px;
    }
    </style>
    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700" data-turbolinks-track="true">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <!-- <script src="/plugins/jquery_ujs.js" type="text/javascript"></script> -->
    <script>
      if (!window.jQuery) {
    document.write('<script src="/smartadmin/js/libs/jquery-2.0.2.min.js"><\/script>');
    }
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
      if (!window.jQuery.ui) {
    document.write('<script src="/smartadmin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
    }
    </script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!-- BOOTSTRAP JS -->
    <script src="/smartadmin/js/bootstrap/bootstrap.min.js"></script>
    <script src="/plugins/jquery.textcomplete.js" type="text/javascript"></script>
    <script src="/smartadmin/js/plugin/datatables/jquery.dataTables.1.10.2.min.js"></script>
    <script src="/smartadmin/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="/smartadmin/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="/smartadmin/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/smartadmin/js/plugin/datatables/dataTables.responsive.nightly.min.js"></script>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
    <script src="/echarts/echarts.js"></script>
    <script src="/smartadmin/js/plugin/chartkick.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  </head>
  <body class="fixed-header">

    <!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->
    <!-- HEADER -->
    <header id="header">
      <div id="logo-group">
        <!-- PLACE YOUR LOGO HERE -->
        <h1 class="logo pull-left">
          <%= image_tag 'logo.png', class: 'logo-image', id: 'logo-image' %>
        <a href="/" class="logo"><span class="logo-title">POLLIOS</span></a>
        </h1>
        <!-- END LOGO PLACEHOLDER -->
      </div>
      <!-- END AJAX-DROPDOWN -->
    </div>
    <!-- pulled right: nav area -->
    <div class="pull-right">
      <!-- collapse menu button -->
      <div id="hide-menu" class="btn-header pull-right">
        <span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
      </div>
      <!-- end collapse menu -->
      <!-- logout button -->
      <% if current_member %>
        <div id="logout" class="btn-header transparent pull-right">
          <span> <a href="/users_signin" title="Sign Out"><i class="fa fa-sign-out"></i></a> </span>
        </div>
      <% end %>
      <!-- end logout button -->
      
      <!-- search mobile button (this is hidden till mobile view port) -->
      <div id="search-mobile" class="btn-header transparent pull-right">
        <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
      </div>
      <!-- end search mobile button -->
      <!-- input: search field -->
<!--       <form action="<%= company_search_path %>" class="header-search pull-right" method="get">
        <input type="text" placeholder="Find polls" name="q">
        <button type="submit">
        <i class="fa fa-search"></i>
        </button>
        <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
      </form> -->
      <!-- end input: search field -->
    </div>
    <!-- end pulled right: nav area -->
  </header>
  <!-- END HEADER -->
  <!-- Left panel : Navigation area -->
  <!-- Note: This width of the aside area can be adjusted through LESS variables -->
  <aside id="left-panel">
    <!-- User info -->
    <div class="login-info">
      <span> <!-- User image size is adjusted inside CSS, it should stay as it -->
      <% if current_member %>
      <a href="javascript:void(0);" id="show-shortcut">
        <%= image_tag(current_member.avatar.url(:thumbnail)) %>
        <span>
        <%= current_member.fullname %>
        </span>
        <i class="fa fa-angle-down"></i>
      </a>
      <% end %>
      </span>
    </div>
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive
    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
      <% if current_member.get_company.present? %>
        <% if controller.controller_name == 'branches' || controller.controller_name == 'feedback' || controller.controller_name == 'feedback_questionnaire' || controller.controller_name == 'feedback_poll' || controller.controller_name == 'feedback_reports' || controller.controller_name == 'feedback_campaigns' || controller.controller_name == 'redeemers' || controller_name == 'collection_poll_series' %>
          <%= render partial: 'sherd/nav_feedback' %>
        <% else %>
          <%= render partial: 'sherd/nav_company' %>
        <% end %>
      <% else %>
        <%= render partial: 'sherd/nav_brand' %>
      <% end %>
    </nav>
    <span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>
  </aside>
  <!-- END NAVIGATION -->
  <!-- MAIN PANEL -->
  <div id="main" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
      <span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span> </span>
      <!-- breadcrumb -->
      <ol class="breadcrumb">
      </ol>

    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
      <%= breadcrumbs pretext: "You are here: ", display_single_fragment: true, style: :bootstrap %>

      <% flash.each do |key, value| %>
      <div data-alert class="<%= flash_class(key) %> fade in">
        <%= get_icon_from_value(key) %>
        <%= raw convert_error_format(value) %>
        <button class="close" data-dismiss="alert">×</button>
      </div>
      <% end %>
      <div id="ajaxLoader" class="animated" style="display: none;">
        <img alt="loading" src="/smartadmin/img/loading_1.gif">
      </div>
      <%= yield %>
    </div>
    <!-- END MAIN CONTENT -->
  </div>
  <!-- END MAIN PANEL -->
  <div class="page-footer">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <span class="txt-color-white">Pollios © 2014</span>
      </div>
<!--       <div class="col-xs-6 col-sm-6 text-right hidden-xs">
        <div class="txt-color-white inline-block">
          <div class="btn-group dropup">
            <button class="btn btn-xs dropdown-toggle bg-color-blue txt-color-white" data-toggle="dropdown">
            <i class="fa fa-link"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right text-left">
              <li>
                <div class="padding-5">
                  <p class="txt-color-darken font-sm no-margin">Download Progress</p>
                  <div class="progress progress-micro no-margin">
                    <div class="progress-bar progress-bar-success" style="width: 50%;"></div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="padding-5">
                  <p class="txt-color-darken font-sm no-margin">Server Load</p>
                  <div class="progress progress-micro no-margin">
                    <div class="progress-bar progress-bar-success" style="width: 20%;"></div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="padding-5">
                  <p class="txt-color-darken font-sm no-margin">Memory Load <span class="text-danger">*critical*</span></p>
                  <div class="progress progress-micro no-margin">
                    <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="padding-5">
                  <button class="btn btn-block btn-default">refresh</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
  Note: These tiles are completely responsive,
  you can add as many as you like
  -->
  <div id="shortcut">
    <ul>

      <% if current_member.get_company.using_service.include?("Survey") %>
        <li>
          <a href="<%= company_dashboard_path %>" class="jarvismetro-tile big-cubes bg-color-greenDark"> <span class="iconbox"> <i class="fa fa-edit fa-4x"></i> <span>Internal Survey</span> </span> </a>
        </li>
      <% end %>
      <% if current_member.get_company.using_service.include?("Feedback") %>
        <li>
          <a href="<%= feedback_dashboard_path %>" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-location-arrow fa-4x"></i> <span> Feedback Location</span> </span> </a>
        </li>
      <% end %>

    </ul>
  </div>
  <!-- END SHORTCUT AREA -->
  <!--================================================== -->
  <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
  <!-- <script data-pace-options='{ "restartOnRequestAfter": true }' src="/smartadmin/js/plugin/pace/pace.min.js"></script> -->
  <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
  <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
  <script src="/smartadmin/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->
  <!-- CUSTOM NOTIFICATION -->
  <script src="/smartadmin/js/notification/SmartNotification.min.js"></script>
  <!-- JARVIS WIDGETS -->
  <script src="/smartadmin/js/smartwidgets/jarvis.widget.min.js"></script>
  <!-- EASY PIE CHARTS -->
  <script src="/smartadmin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
  <!-- SPARKLINES -->
  <!--<script src="/smartadmin/js/plugin/sparkline/jquery.sparkline.min.js"></script>-->
  <!-- JQUERY VALIDATE -->
  <script src="/smartadmin/js/plugin/jquery-validate/jquery.validate.min.js"></script>
  <!-- JQUERY MASKED INPUT -->
  <script src="/smartadmin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
  <!-- JQUERY SELECT2 INPUT -->
  <script src="/smartadmin/js/plugin/select2/select2.min.js"></script>
  <!-- JQUERY UI + Bootstrap Slider -->
  <script src="/smartadmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
  <script type="text/javascript" src="/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
  <script type="text/javascript" src="/plugins/load-image.min.js"></script>
  <!-- browser msie issue fix -->
  <script src="/smartadmin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
  <!-- FastClick: For mobile devices -->
  <script src="/smartadmin/js/plugin/fastclick/fastclick.js"></script>
  <script src="/plugins/bootstrap3-dialog/js/bootstrap-dialog.min.js"></script>
  <!--[if IE 7]>
  <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
  <![endif]-->
  <!-- MAIN APP JS FILE -->
  <script src="/smartadmin/js/app.js"></script>
  <script src="/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
  <script src='/plugins/jquery.overlay.js'></script>
  <script src="/plugins/x-editable/moment.min.js"></script>
  <script src="/plugins/x-editable/jquery.mockjax.min.js"></script>
  <script src="/plugins/x-editable/x-editable.min.js"></script>
  <script src="/plugins/typeahead/typeahead.min.js"></script>
  <script src="/plugins/typeahead/typeaheadjs.min.js"></script>
  <script src="/smartadmin/js/plugin/jquery.lazy.min.js"></script>
  
  <!-- PAGE RELATED PLUGIN(S) -->
  
  <!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip -->
  <!-- <script src="/smartadmin/js/plugin/flot/jquery.flot.cust.js"></script>
  <script src="/smartadmin/js/plugin/flot/jquery.flot.resize.js"></script>
  <script src="/smartadmin/js/plugin/flot/jquery.flot.tooltip.js"></script> -->
  
  <!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
  <!-- <script src="/smartadmin/js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js"></script>
  <script src="/smartadmin/js/plugin/vectormap/jquery-jvectormap-world-mill-en.js"></script> -->
  
  <!-- Full Calendar -->
  <!-- <script src="/smartadmin/js/plugin/fullcalendar/jquery.fullcalendar.min.js"></script> -->
  <script>
  $.bread_crumb = $('#ribbon ol.breadcrumb');
  dropZonePicture();
  dropZonePhotoEachGroup();
  dropZoneCoverEachGroup();
  function drawBreadCrumb() {
          var nav_elems = $('nav li.active > a'),
              count = nav_elems.length;
          //console.log("breadcrumb")
          $.bread_crumb.empty();
          $.bread_crumb.append($("<li>Home</li>"));
          nav_elems.each(function() {
              $.bread_crumb.append($("<li></li>").html($.trim($(this).clone().children(".badge").remove().end().text())));
              // update title when breadcrumb is finished...
              if (!--count) document.title = $.bread_crumb.find("li:last-child").text();
          });
      }
      // /\B#([a-zA-Z0-9ก-๙_]+)/
  if ($("#textarea3").length > 0) {
    $('#textarea3').textcomplete([{ // mention strategy
      match: /(^|\s)#([a-zA-Z0-9ก-๙_぀-ゟ゠-ヿ]{1,})$/,
      search: function(term, callback) {
          $.getJSON('/search_autocmp_tags.json', {
                  q: term
              })
              .done(function(resp) {
                  callback(resp);
              })
              .fail(function() {
                  callback([]);
              });
      },
      replace: function(value) {
          return ' #' + value + " ";
      }
    }]).overlay([{
        match: /(^|\s)#([a-zA-Z0-9ก-๙_぀-ゟ゠-ヿ]+)/g,
        css: {
            'background-color': '#d8dfea'
        }
    }]);
  }
  

  function smoothScroll() {
      $(function() {
          $.sr
      });
  }
  $(document).ready(function() {
    $('.progress .progress-bar').progressbar({
        display_text: 'center'
    });
  });
  $(document).on('page:change', function() {
      // DO NOT REMOVE : GLOBAL FUNCTIONS!
      pageSetUp();
      drawBreadCrumb();
      dataTable();
      validateMemberProfile();

      $(".input-id").rating();
      $("[data-toggle=tooltip]").tooltip();;

      var searchFunc = function(term, callback) {
          $.getJSON('/search_autocmp_tags.json', {
                  search: "nuttapon"
              })
              .done(function(resp) {
                  callback(resp); // `resp` must be an Array
              })
              .fail(function() {
                  callback([]); // Callback must be invoked even if something went wrong.
              });
      };

      function poke_something(poke_something) { 
        poke_something.on('ajax:send', function(xhr) {
          $("#ajaxLoader").removeClass('fadeOut').addClass('fadeIn').show();
        }).on('ajax:success', function (data, status, xhr) {
          $("#ajaxLoader").removeClass('fadeIn').addClass('fadeOut');
          $(this).addClass('disabled btn-success').html("<i class='fa fa-check'></i> Sent")

        }).on('ajax:error', function (event, xhr, status) {
          $("#ajaxLoader").removeClass('fadeIn').addClass('fadeOut');
          var json_response = JSON.parse(xhr.responseText);
          handleErrorAddGroup(json_response.error_message);
        });
      }

      $.poke_no_vote = $('#poke_no_vote[data-remote]');
      $.poke_view_no_vote = $('#poke_view_no_vote[data-remote]');
      $.poke_no_view = $('#poke_no_view[data-remote]');

      poke_something($.poke_no_vote);
      poke_something($.poke_view_no_vote);
      poke_something($.poke_no_view);

      function handleErrorAddGroup (error_message) {
        $.smallBox({
          title : "Warning",
          content: error_message,
          color: "#C46A69",
          icon: "fa fa-warning",
          timeout: 6000
        });
      }

      /*
       * PAGE RELATED SCRIPTS
       */
      $(".js-status-update a").click(function() {
          var selText = $(this).text();
          var $this = $(this);
          $this.parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
          $this.parents('.dropdown-menu').find('li').removeClass('active');
          $this.parent().addClass('active');
      });
      /*
       * TODO: add a way to add more todo's to list
       */
      // initialize sortable
      $(function() {
          $("#sortable1, #sortable2").sortable({
              handle: '.handle',
              connectWith: ".todo",
              update: countTasks
          }).disableSelection();
      });
      // check and uncheck
      $('.todo .checkbox > input[type="checkbox"]').click(function() {
          var $this = $(this).parent().parent().parent();
          if ($(this).prop('checked')) {
              $this.addClass("complete");
              // remove this if you want to undo a check list once checked
              //$(this).attr("disabled", true);
              $(this).parent().hide();
              // once clicked - add class, copy to memory then remove and add to sortable3
              $this.slideUp(500, function() {
                  $this.clone().prependTo("#sortable3").effect("highlight", {}, 800);
                  $this.remove();
                  countTasks();
              });
          } else {
              // insert undo code here...
          }
      })

      function countTasks() {
          $('.todo-group-title').each(function() {
              var $this = $(this);
              $this.find(".num-of-tasks").text($this.next().find("li").size());
          });
      }
  });
  </script>

  <!-- Your GOOGLE ANALYTICS CODE Below -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-50947005-1', 'codeapp-pollios.herokuapp.com');
  ga('send', 'pageview');
  </script>
</body>
</html>