<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Pollios" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="<%= root_url %>">Pollios</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
      <ul class="left">
      <li><a href="<%= members_path %>">Member All</a></li>
      </ul>

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider hide-for-small"></li>
          <% if signed_in? %>
            <li><a href="<%= new_poll_path %>">New Poll</a></li>
            <li class="divider"></li>
            <li class="has-dropdown not-click"><a href="<%= polls_path %>">Poll</a>
            <ul class="dropdown"><li class="title back js-generated"></li>
              <li><a href="<%= poll_series_index_path %>">Series Poll</a></li>
            </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown not-click <%= active_class("profile") %>">
            <%= image_tag(current_member.avatar, size: '32x32', class: 'img-profile img-circle') %>
            <a href="#"><div class="name-profile"><%= truncate(current_member.sentai_name, length: 15) %></div></a>
              <ul class="dropdown">
                <li><%= link_to 'Profile', member_profile_path %></li>
                <li><%= link_to 'Sign out', authen_signout_url, method: :delete %></li>
              </ul>
            </li>
            <% else %>
            <li><%= link_to 'Sign in', authen_signin_url %></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>

    <% flash.each do |key, value| %>
      <div data-alert class="<%= flash_class(key) %> fade in">
        <% if value.class == Array %>
          <dl style="margin-bottom: 0.25em;">
            <% value.each do |data| %>
              <li><%= data %></li>
            <% end %>
          </dl>
        <% else %>
          <%= value %>
        <% end %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>


  
    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>
    
    <script type="text/javascript" src="/javascripts/jquery.tokeninput.js"></script>
    <script>
        $("#poll_tag_tokens").tokenInput("/tags.json", {
          theme: "facebook",
          prePopulate: $('#poll_tag_tokens').data('load'),
          preventDuplicates: true,
          tokenLimit: 3
        });
    </script>
    <script>
      $('#datetimepicker').datetimepicker();
    </script>
  </body>
</html>