<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th width="50">#</th>
      <th>Avatar</th>
      <th>Sentai ID</th>
      <th>Provider</th>
      <th width="300">Name</th>
      <th width="200">Username</th>
      <th>Type</th>
      <th>Created At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= image_tag(member.avatar, size: "50x50") %></td>
        <td><%= member.sentai_id %></td>
        <td><%= member.provider %></td>
        <td><%= member.sentai_name %></td>
        <td><%= member.username %></td>
        <td><%= member.member_type_text %></td>
        <td><%= time_ago_in_words(member.created_at) %></td>
        <% if current_member == member %>
        <td></td>
        <% elsif list_friend.include?(member.id) %>
        <td><%= link_to 'UnFriend', '#', class: 'button tiny btn-gray' %></td>
        <% elsif friend_request.include?(member.id) %>
        <td><span data-tooltip class="has-tip tip-right" title="Waiting approve"><%= link_to 'Cancel', '#', class: 'button tiny btn-gray' %></span></td>
        <% else %>
        <td><%= link_to 'Add Friend', '#', class: 'button tiny' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="pagination-centered">
    <%= will_paginate members, renderer: FoundationPagination::Rails %>
  </div>
</div>

